@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400&family=Raleway:ital,wght@0,300;1,300&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #2e3537;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.container {
  width: 100%;
  position: relative;
  padding: 1rem 10px 20px 1rem;
}
@media only screen and (min-width: 481px) {
  .container {
    width: 90%;
    padding: 10px 0px 40px 0px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 769px) {
  .container {
    padding: 10px 0px 40px 0px;
    width: 90%;
    min-height: 90%;
    margin: 0 auto;
  }
}

.header {
  text-align: center;
  margin-top: 1.5rem;
}
@media only screen and (min-width: 481px) {
  .header {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 769px) {
  .header {
    text-align: right;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
@media only screen and (min-width: 481px) {
  nav {
    justify-content: flex-start;
    position: relative;
    left: -1rem;
  }
}

.btn {
  font-family: "Raleway", sans-serif;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: none;
  margin: 0.3rem;
  flex-basis: 40%;
}
@media only screen and (min-width: 481px) {
  .btn {
    flex-basis: auto;
  }
}

.btnRegular {
  color: #00ABD1;
  border: 1px solid #00ABD1;
  padding: 0.5rem 0rem;
}
.btnRegular:not(.disabled):hover, .btnRegular:not(.disabled):focus-visible {
  color: #DDF9FF;
  border: 1px solid #DDF9FF;
  outline-offset: 0;
  outline: 2px solid #DDF9FF;
  text-decoration: none;
}
.btnRegular.disabled {
  opacity: 0.5;
}
.btnRegular.disabled:hover {
  cursor: not-allowed;
}
@media only screen and (min-width: 481px) {
  .btnRegular {
    border: none;
    padding: 0.5rem 1rem;
  }
  .btnRegular:not(.disabled):hover, .btnRegular:not(.disabled):focus-visible {
    border: none;
    outline: none;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.5rem;
  }
}

.fa-house {
  margin-right: 4px;
}

p > a {
  color: #00ABD1;
}
p > a:hover {
  color: #DDF9FF;
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  text-underline-position: under;
}
p > a:focus-visible {
  color: #DDF9FF;
  outline-color: #DDF9FF;
  text-decoration: none;
}

.sectionResume {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 481px) {
  .sectionResume {
    flex-direction: row;
  }
}

.columnThin {
  order: 2;
}
@media only screen and (min-width: 481px) {
  .columnThin {
    flex: 1;
    order: 1;
    padding-right: 1rem;
    border-right: 1px solid #00CFFF;
  }
}

.columnWide {
  order: 1;
}
@media only screen and (min-width: 481px) {
  .columnWide {
    flex: 3;
    order: 2;
    padding-left: 1rem;
  }
}

.subsection {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.experienceItem {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 769px) {
  .experienceItem {
    flex-direction: row;
  }
}

.companywhen {
  order: 1;
  margin-right: 1rem;
}
@media only screen and (min-width: 769px) {
  .companywhen {
    flex: 1;
  }
}

.titledesc {
  order: 2;
}
@media only screen and (min-width: 769px) {
  .titledesc {
    flex: 3;
  }
}

h1 {
  font-family: "Raleway", sans-serif;
  margin: 0px;
  color: #00CFFF;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 200;
  letter-spacing: 0.04rem;
}
@media only screen and (min-width: 481px) {
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
}
@media only screen and (min-width: 769px) {
  h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

h2,
.intro {
  font-size: 1.5rem;
  color: #00CFFF;
  font-weight: 200;
  margin-bottom: 4px;
}

h3,
.title {
  font-size: 1.375rem;
  color: #DDF9FF;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 4px;
}

.aboutme > h3 {
  margin-top: 1.5rem;
}
.aboutme > img {
  width: 100%;
}
.aboutme > picture > img {
  width: 100%;
}

p,
li {
  font-size: 1em;
  color: #DDF9FF;
  margin: 0px;
  font-weight: 200;
}

p,
ul {
  padding-left: 0;
  margin-bottom: 8px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.dates {
  font-weight: 100;
}

strong {
  font-weight: 400;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.skip {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 10px 16px;
  background-color: #106F85;
  color: #DDF9FF;
  border-radius: 16px;
  border: 1px solid #DDF9FF;
  outline-color: #DDF9FF;
  opacity: 1;
}
.skip:focus {
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  opacity: 1;
}

.landing-wrapper {
  margin-top: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
@media only screen and (min-width: 481px) {
  .landing-wrapper {
    min-height: 70vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: auto;
    align-items: flex-end;
    border-bottom: 1px solid #7E78BB;
  }
}

.text-wrapper {
  order: 2;
  margin-top: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
@media only screen and (min-width: 481px) {
  .text-wrapper {
    order: 1;
    margin: 0;
    max-width: 400px;
    margin: 0 2rem 2rem 2rem;
    justify-content: flex-end;
  }
}

.img-wrapper {
  order: 1;
  margin: auto;
}
@media only screen and (min-width: 481px) {
  .img-wrapper {
    order: 2;
    margin: 0;
    display: flex;
    align-items: self-end;
  }
}

.img-wrapper > img {
  width: 100%;
  max-height: 400px;
}

.contacts-wrapper {
  justify-self: flex-end;
  align-self: center;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media only screen and (min-width: 481px) {
  .contacts-wrapper {
    justify-self: flex-start;
    align-self: flex-start;
    position: relative;
    left: -1rem;
    bottom: -1rem;
    width: 60%;
  }
}

.contact-link {
  color: #00CFFF;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 1rem;
}
.contact-link:hover, .contact-link:focus-visible {
  color: #DDF9FF;
  outline: 1px solid #DDF9FF;
}

.gallery {
  margin-top: 1rem;
}
@media only screen and (min-width: 481px) {
  .gallery {
    height: 100vh;
    margin: 0 auto;
    max-width: 830px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

.preview {
  border-radius: 0.25rem;
  margin: 1rem auto;
  display: grid;
  overflow: hidden;
  max-width: 400px;
}
@media only screen and (min-width: 481px) {
  .preview {
    margin: 0;
  }
}

.image {
  z-index: -99;
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
}
@media only screen and (min-width: 481px) {
  .image {
    max-height: 100%;
    width: auto;
  }
}

.overlay {
  grid-column: 1;
  grid-row: 1;
  background-color: rgba(255, 255, 255, 0.2);
}

.description {
  align-self: end;
  grid-column: 1;
  grid-row: 1;
  padding: 0.25rem;
  background-color: rgba(46, 53, 55, 0.9);
}

a.preview:hover {
  outline: 0.2rem solid #DDF9FF;
  outline-offset: 4px;
  text-decoration: none;
  transition: none;
}
a.preview:hover .overlay {
  opacity: 0;
}

.casename,
.caseinfo,
.caseintro {
  margin: 0;
}

.caseinfo {
  font-size: 0.8rem;
}

.signature {
  text-align: center;
  display: block;
  color: #00ABD1;
  font-weight: 200;
  padding: 1rem;
}

.visible-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visible-hidden:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}

.main404-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 1px solid #7E78BB;
}

.wrapper404 {
  min-height: 70vh;
}
@media only screen and (min-width: 481px) {
  .wrapper404 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.text404 {
  order: 1;
  margin-top: 3rem;
}
@media only screen and (min-width: 481px) {
  .text404 {
    align-self: flex-end;
    max-width: 400px;
    min-height: 250px;
  }
}

.img404-wrapper {
  display: flex;
  justify-content: flex-end;
  display: none;
}
@media only screen and (min-width: 481px) {
  .img404-wrapper {
    display: inherit;
    order: 2;
    flex-basis: 50%;
    flex-shrink: 1;
    max-height: 300px;
  }
}

.image404 {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
