@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

*::after,
*,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// NUMERIC VALUES
$max-text-width : 700px;
// COLORS
$yellow030: hsla(40, 97%, 63%, 0.30);
$yellow050: hsla(40, 97%, 63%, 0.50);
$yellow080: hsla(40, 97%, 63%, 0.80);
$yellow100: #fcbf45;
$yellow110: #fae3b6;
$white000: #f9f9f9;
$black: #010101;

// DIMENSIONS
@mixin mobile {
    @media only screen and (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: 481px) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: 1400px) {
        @content;
    }
}

// BORDERS
@mixin outline-dashed() {
    border-radius: 1px;
    outline: 1px dashed $yellow050;
    outline-offset: 4px;
}

@mixin outline-hover {
    border-radius: 1px;
    outline: 1px solid $white000;
    outline-offset: 4px;
}

@mixin border-dashed ($border1, $border2, $border3, $border4) {
    color: $yellow050;
    border-radius: 1px;
    border-style: dashed;
    border-top-width: $border1;
    border-right-width: $border2;
    border-bottom-width: $border3;
    border-left-width: $border4;
}

@mixin border-test {
    border-radius: 1px;
    border-style: dashed;
    border-width: 2px;
    color: red;
}

//////////////////////
//        BIG SECTIONS
//////////////////////
html,
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: black;
    color: $white000;
    font-size: 14px;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    //@include border-test;
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
}

section {
    @include border-dashed(1px, 1px, 1px, 1px);
    row-gap: 8px;
    padding: 16px 0px;

    .hero {
        margin-bottom: 16px;

        .name {
            background-color: $yellow100;
            color: #010101;
            padding: 0 4px;
        }
    }

    @include tablet {
        row-gap: 16px;
        padding: 48px 8px 32px 8px;

        &.section-hero {
            padding: 120px 8px 0 8px;
        }
    }

}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 16px 0;
    fill: $yellow100;
    color: $yellow100;

    //    
    a.link-home {
        display: block;
        height: 38px;
        padding: 0;

        .icon-home {
            fill: $yellow100;
        }
    }

    .nav-contact {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        height: 100%;
        gap: 4px;
    }

    .nav-nav {
        display: flex;
        flex-flow: row wrap;
        gap: 16px;

        .link-nav-nav {
            @include tablet {
                position: relative;
                right: -4px; //to make the last text aligns with the exact edge of the whole container
            }
        }
    }
}

.jump-menu {
    //margin: 0 auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    padding-bottom: 8px;

    &:not(.no-border) {
        @include border-dashed (0, 0, 1px, 0);
    }

    .link {
        padding: 0;
        width: 45%;
        height: 24px;
    }

    @include tablet {
        flex-flow: row nowrap;
        justify-content: center;
        gap: 16px;
        border: none;
        padding: 0;

        .link {
            width: auto;
            height: auto;
        }
    }

}

footer {
    max-width: 100%;
    padding: 16px 8px;
    margin-top: 40px;
    text-align: center;
    @include border-dashed (1px, 0, 0, 0);

    .heart {
        display: inline;
        margin-right: 4px;
        height: 100%;
        width: auto;
    }
}

.resume {
    padding: 8px;
    max-width: $max-text-width;
    h3{
        margin-bottom: 8px;
    }
    h4{
        margin-bottom: 0;
    }

    .wrapper-education, .wrapper-skill{
        margin-bottom: 4px;
    }

    .wrapper-experience {        
        column-gap: 4px;
        margin-bottom: 16px;

        .wrapper-experience-header {
            min-width: 240px;

            .experience-role {
                margin-bottom: 0px;
                margin-top: 0px;
            }

            .experience-company {
                margin: 0;
                font-size: 16px;
            }

            .experience-dates {
                font-size: 14px;
                font-weight: 300;
                margin-bottom: 0;
            }
        }
        ul {
            margin-top: 0;
        }
    }
    // educ + lang
    .resume-small {
        border: none;

        .education {
            max-width: 400px;
        }

        .languages {
            width: 100%;

            h3 {
                margin-bottom: 8px;
            }

            .language-p,
            .language-h4 {
                margin-bottom: 4px;
                margin-top: 0px;
                display: inline-block;
                font-size: 14px;
            }

            .language-h4 {
                min-width: 80px;
            }

        }
    }
    .jump-menu > .link > svg.icon-below {
        display: none;
    }

    .resume-row {
        display: flex;
        flex-flow: column nowrap;

        @include tablet {
            flex-flow: row nowrap;
            column-gap: 32px;
            justify-content: flex-start;
        }
    }

    @include tablet {
        .resume-skills, .resume-small, .resume-experience{
            margin-bottom: 16px;
        }
        padding: 0;

        .wrapper-experience>.wrapper-experience-header>.experience-role {
            margin-bottom: 8px;        
        }

        .jump-menu {
            display: none;
        }
    }
}

//      ANIMATIONS
@keyframes bounce {

    0%,
    100% {
        transform: translateY(5%);
    }

    50% {
        transform: translateY(-10%);
    }

}

@keyframes bounce-right {

    0%,
    100% {
        transform: translateX(5%);
    }

    50% {
        transform: translateX(-10%);
    }

}

@keyframes bounce-out {

    0%,
    100% {
        transform: translate(0%, 0%);
    }

    50% {
        transform: translate(12%, -20%);
    }

}

@keyframes appear {
    from {
        opacity: 0;
        //scale: 0.5;
    }

    to {
        opacity: 1;
        //scale: 1;
    }
}

//      STRUCTURES
.table-case {
    display: grid;
    padding: 8px;
    @include border-dashed(1px, 1px, 1px, 1px);
    width: 100%;
    max-width: $max-text-width;

    p.data {
        line-height: 150%;
        margin: 0;
        width: 100%;
        overflow-wrap: break-word;
    }

    p.label {
        line-height: 100%;
        margin: 12px 0 2px 0;
        color: $yellow100;
        width: 100%;
    }

    grid-template-columns: auto;
    grid-template-areas: "label-client"
    "data-client"
    "label-role"
    "data-role"
    "label-team"
    "data-team"
    "label-skills1"
    "data-skills1"
    "label-skills2"
    "data-skills2"
    "label-tools"
    "data-tools";


    .label-client {
        grid-area: label-client;
    }

    .data-client {
        grid-area: data-client;
    }

    .label-role {
        grid-area: label-role;
    }

    .data-role {
        grid-area: data-role;
    }

    .label-team {
        grid-area: label-team;
    }

    .data-team {
        grid-area: data-team;
    }

    .label-skills1 {
        grid-area: label-skills1;
    }

    .data-skills1 {
        grid-area: data-skills1;
    }

    .label-skills2 {
        grid-area: label-skills2;
    }

    .data-skills2 {
        grid-area: data-skills2;
    }

    .label-tools {
        grid-area: label-tools;
    }

    .data-tools {
        grid-area: data-tools;
    }

    @include tablet() {
        width: 80%;
        column-gap: 8px;
        margin: auto;
        margin-top: 0;
        margin-bottom: 48px;
        //4 to compensate padding of labels at the first row
        padding: 4px 16px 16px 16px;
        //padding: 16px;
        grid-template-columns: 49% 49%;
        //grid-template-rows: auto auto 16px auto auto;
        grid-template-areas:
            "label-client label-role"
            "data-client data-role"
            "label-team label-skills1"
            "data-team data-skills1"
            "label-skills2 label-tools"
            "data-skills2 data-tools";
    }

    @include desktop() {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "label-client label-role label-team"
            "data-client data-role data-team"
            "label-skills1 label-skills2 label-tools"
            "data-skills1 data-skills2 data-tools";
        padding: 4px 24px 16px 24px;
        column-gap: 16px;
    }
}

.case-image {
    height: 100px;
    width: auto;
    max-width: $max-text-width;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    @include tablet {
        width: 80%;
        height: auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

    }
}

.gallery {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
    margin: 4px auto;
    gap: 16px;
    width: 95%;

    @include tablet {
        flex-flow: row wrap;
        justify-content: center;
    }
}

.card {
    @include outline-dashed;
    padding: 8px;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;

    &.hide {
        display: none;
    }

    .card-top {
        height: auto;
        text-align: center;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        justify-content: space-between;
        padding-bottom: 4px;

        h3.card-title {
            color: $white000;
            padding: 0;
        }

        .tags {
            margin: 0;
        }
    }

    .card-image {
        height: 160px;
        width: 100%;
        overflow: hidden;
        border: .5px solid $yellow030;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .card-bottom {
        width: 100%;
        .card-details {
            overflow-wrap: break-word;
            width: 100%;
            min-height: 60px;
            margin: 8px 0;
        }

        .card-button {
            margin: 0 auto;
            padding: 8px 0;
        }
    }

    @include tablet {
        max-width: 280px;
        width: 100%;

        animation: appear linear;
        animation-timeline: view();
        animation-range: entry 0;

        .card-top {
            height: 80px;
            display: flex;
            flex-flow: column nowrap;
            align-items: stretch;
            justify-content: center;

            h3.card-title {
                width: 100%;
                height: auto;
                margin: 0;
                padding: 0;
                text-align: left;
            }

            .tags {
                text-align: left;
            }
        }

        .card-image {
            height: 240px;
            width: 100%;
            flex-grow: 1;
        }

        .card-bottom {
            
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: space-between;
        }
    }

}

.card:hover {
    @include outline-hover;
}

.card-process {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 98%;
    max-width: $max-text-width;
    padding: 0 8px 0 0;
    margin: 8px 0;

    .card-process-image {
        border: 1px solid $yellow080;
        min-width: 40px;
        display: none;
    }

    .card-process-text {
        width: 80%;

        p.card-process-title,
        p.card-process-details {
            text-align: left;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        li.card-process-title {
            text-align: left;
            margin: 0 0 4px 16px;
            padding: 0;

            ::marker {
                color: $yellow100;
                font-weight: 400;

            }
        }

        h4.card-process-details {
            text-align: left;
            margin: 0;
            padding: 0;
        }
    }

    @include tablet {
        width: 100%;
        flex-flow: row nowrap;
        gap: 8px;
        padding: 0;
        margin: 8px 8px 8px 0;
        align-items: stretch;
        justify-content: center;

        .card-process-image {
            order: 0;
            min-width: 100px;
            flex-grow: 0;
            overflow: hidden;
            display: flex;
            align-items: center;

            img {
                object-fit: cover;
                width: 100%;
            }
        }
    }
}

header {
    margin: 0;

    &.no-tag {
        p.tag {
            display: none;
        }
    }
}

// WRAPPERS 
.wrapper-border {
    @include border-dashed (1px, 1px, 1px, 1px);
}

.wrapper-content {
    gap: 16px;
}

.wrapper-text {
    width: 98%;
    padding: 0 8px;
    max-width: $max-text-width;

    img {
        margin: 12px 0;
        width: 100%;
        height: auto;
    }
}

.wrapper-contacts {
    width: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;

    p.contact {
        margin: 0;
        display: flex;
        flex-flow: column nowrap; // no column-center bc needs to change on tablet
        align-items: center;
        width: auto;

        .label-contact {
            order: 1;
        }
    }

    @include tablet {
        flex-flow: column nowrap;
        align-items: flex-start;

        p.contact {
            flex-flow: row nowrap;
            align-items: center;
            gap: 8px;

            .label-contact {
                order: 0;
                width: 70px;
            }
        }
    }
}

.wrapper-backTo {
    margin: 16px 0;
}

.column-center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

a.link {
    padding: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    color: $yellow100;
    fill: $yellow100;
    text-decoration: none;
    width: auto;
    flex-grow: 0;
    font-weight: 400;

    .hidden {
        // some icons are hidden at every state, 
        // others are hidden by default but appear on hover
        //&.icon-go-to,
        //&.icon-new-page{
        //display: none;
        visibility: hidden;
        //}
    }

    &.cta {
        margin: 0 0 20px 0;
        font-size: 28px;
    }

    &.inline {
        padding: 0;
    }

    &:focus-visible {
        color: $yellow110;
        outline-color: $yellow110;
        outline-style: none;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-position: under;
        text-underline-offset: 4px;
    }

    &:hover {
        color: $yellow110;
        fill: $yellow110;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-position: under;
        text-underline-offset: 2px;

        svg {
            visibility: visible;
        }

        // icons have diff behaviours/animations
        .icon-home #logo-background {
            outline: solid 2px $yellow110;
            fill: $yellow110;
        }

        .icon-contact path {
            fill: $yellow110;
            stroke: $yellow110;
            stroke-width: 0.5;
        }

        .icon-top,
        .icon-below {
            animation: bounce 0.8s infinite;
        }

        .icon-go-to {
            animation: bounce-right 0.8s infinite;
        }

        .icon-new-page {
            .icon-new-page-arrow {
                animation: bounce-out 0.8s infinite;
            }
        }
    }
}

.tags {
    height: auto;
    width: 100%;
    overflow-wrap: break-word;
    text-align: center;
}

.diagram {
    margin: 8px 0 32px 0;
}

figcaption,
details summary {
    color: $yellow080;
}

img {
    border-radius: 2px;
    width: 100%;
    //display: block;
    //overflow: hidden;
    object-fit: fill;
    max-width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
}

// TEXT STYLES
h1 {
    height: 38px;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 32px;
    text-align: center;
    font-weight: 300;
    color: $white000;
    margin: 0;

    @include tablet {
        font-size: 54px;
    }
}

.landing h2 {
    animation: appear ease-in;
    animation-timeline: view();
    animation-range: entry 0;

}

h3 {
    font-size: 22px;
    margin: 0;
    padding-top: 16px;
    font-weight: 300;
    color: $white000;

    @include tablet {
        font-size: 26px;
    }
}

h4 {
    font-size: 20px;
    margin: 8px 0 4px 0;
    font-weight: 300;
    color: $yellow100;
}

h5 {
    font-size: 16px;
    font-weight: 400;
    margin: 4px 0 0 0;
    color: $yellow100;
}

.hero-intro {
    margin: 10px 0 36px 0;

    strong.highlight {
        color: $yellow100;
        font-weight: 500;
    }

    p {
        color: $white000;
        margin: 0;

        font-size: 32px;
        text-align: center;
        line-height: 40px;

        @include tablet {
            line-height: 60px;
            font-size: 54px;
        }
    }
}

ul {
    margin: 0;
    padding: 0;
}

p,
li {
    margin: 0 0 8px 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: $white000;

    &.center {
        text-align: center;
    }
}

ul,
ol {
    margin: 12px 0;
}

li {
    margin-left: 16px;
}

.tag {
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    line-height: 14px;
    font-size: 14px;
    margin: 0 2px;
    font-weight: 400;
    color: $yellow080;

    &:before {
        content: "#";
        margin: 0;
    }

}



strong {
    font-weight: 500;
}

details {

    p,
    li {
        margin: 0 0 0 20px;
    }
}

// VISUALS
.wrapper-visual {
    max-width: $max-text-width;
    margin: 8px auto 24px auto;
    background-color: aliceblue;
    padding: 8px;

    @include tablet {
        padding: 16px;
    }

    img {
        margin: 0;
    }

    h4,
    h5,
    h6 {
        text-align: center;
    }

    h4,
    h5,
    p {
        margin: 0;
        padding: 0;
        color: $black;
    }

    ol,
    ul {
        margin: 0 6px;

    }

    p,
    li {
        color: $black;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 0;
    }

    .icon-do,
    .icon-dont {
        height: 16px;
        width: 16px;
    }

    .w-100 {
        width: 100%;
    }

    .w-auto {
        width: auto;
    }

    .wrapper-visual-col {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        height: auto;

        &.gap-8 {
            row-gap: 8px;
        }

        &.gap-16 {
            row-gap: 16px;
        }

        &.gap-32 {
            row-gap: 32px;
        }

        &.gap-40 {
            row-gap: 40px;
        }
    }

    .wrapper-visual-row {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: center;

        &.gap-8 {
            column-gap: 8px;
        }

        &.gap-16 {
            column-gap: 16px;
        }

        &.gap-32 {
            column-gap: 32px;
        }

        &.gap-40 {
            column-gap: 40px;
        }
    }

    .wrapper-visual-col-row {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        width: 100%;

        //
        &.gap-16-32,
        &.gap-16-16,
        &.gap-16-40 {
            row-gap: 16px;
        }

        &.gap-24-32 {
            row-gap: 24px;
        }

        @include tablet {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;

            &.gap-16-16 {
                column-gap: 16px;
            }

            &.gap-16-32,
            &.gap-24-32 {
                column-gap: 32px;
            }

            &.gap-16-40 {
                column-gap: 40px;
            }

        }


    }
}

.wrapper-visual .color-watch {
    height: 20px;
    width: 20px;
    flex-shrink: 0;
    flex-grow: 0;

    img {
        object-fit: contain;
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
    }
}

.wrapper-visual .wrapper-shapes {
    max-width: 340px;

    .shape {
        align-items: center;

        .icon {
            width: 32px;

            .icon-do,
            .icon-dont {
                width: 16px;
                height: 16px;
                margin: auto;
            }
        }

        .text {
            flex-basis: 260px;
        }
    }
}

.wrapper-symbols {
    .symbols {
        align-items: flex-start;

        flex-grow: 0;
        max-width: 500px;
        //align-items: stretch;

        .symbol {
            align-items: center;

            .image {
                width: 103px;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: center;
                flex-grow: 0;
                overflow: hidden;

                img {
                    object-fit: contain;
                    max-height: 100%;
                    max-width: 100%;
                    width: auto;
                    height: auto;
                }

                @include tablet {
                    align-items: center;
                    justify-content: flex-end;
                }
            }

            .text {
                width: 100%;
                flex-grow: 2;
            }
        }
    }
}

.example.wrapper-visual-col {
    margin: 24px 0;
    max-width: 400px;

    img {
        width: 200px;
        height: auto;
    }
}

.wrapper-visual .characters {
    //width: 600px;
    align-items: stretch;
    align-content: center;
    row-gap: 16px;

    .character {
        min-height: 85px;
        min-width: 280px;
        align-items: center;

        .title {
            text-align: right;
            max-width: 100px;
            min-width: 60px;
            flex-grow: 1;
            flex-shrink: 3;
            display: flex;
            flex-flow: column wrap;
            align-items: flex-end;
            justify-content: center;

        }

        .image {
            max-width: 67px;
            min-width: 55px;
            height: 85px;
            flex-grow: 2;
            flex-shrink: 0;
            overflow: hidden;
            position: relative;

            img {
                object-fit: cover;
                height: 100%;
                position: absolute;
                right: 0;
            }
        }

        .desc {
            max-width: 260px;
            width: 100%;
            height: 100%;
            position: relative;
            min-height: 85px;
            flex-grow: 4;
            padding: 2px;
        }

        .char1-desc {
            p:nth-child(1) {
                position: absolute;
                top: 17px
            }

            p:nth-child(2) {
                position: absolute;
                top: 50px
            }
        }

        .char2-desc {
            p:nth-child(1) {
                position: absolute;
                top: 3px;
            }

            p:nth-child(2) {
                position: absolute;
                top: 42px;
            }
        }

        .char3-desc {
            p:nth-child(1) {
                position: absolute;
                top: 3px;
            }

            p:nth-child(2) {
                position: absolute;
                top: 33px;
            }

            p:nth-child(3) {
                position: absolute;
                top: 50px;
            }
        }

        .char4-desc {
            p:nth-child(1) {
                position: absolute;
                top: 3px;
            }

            p:nth-child(2) {
                position: absolute;
                top: 48px;
            }
        }

        .char5-desc {
            p:nth-child(1) {
                position: absolute;
                top: 3px;
            }

            p:nth-child(2) {
                position: absolute;
                top: 54px;
            }
        }

    }
}

.wrapper-visual .pins {
    align-items: normal;
    flex-wrap: wrap;

    .pin {
        width: 220px;
        align-items: center;
        justify-content: flex-start;

        .image {
            width: 45px;
            height: 59px;
            flex-grow: 0;
            flex-shrink: 0;
        }

        .desc {
            width: 100%;
            flex-grow: 0;
            flex-shrink: 1;
        }
    }
}

.wrapper-visual .cars {
    flex-wrap: wrap;
    justify-content: space-between;

    .car {
        max-width: 100px;
    }
}

.wrapper-visual .alignments {
    flex-wrap: wrap;
    width: auto;
    flex-grow: 0;

    .alignment {
        width: 80px;
        height: auto;
    }

}

.wrapper-visual .lines {
    .comparison {
        .line {
            width: 100px;
            height: auto;
        }
    }
}

.wrapper-visual .annotations {
    img {
        max-width: 400px;
    }
}

.wrapper-visual .composition {
    img {
        width: 300px;
        height: auto;
    }
}

.wrapper-visual .comparison {
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;
    width: auto;
}

.wrapper-visual .layouts {
    .layout {
        .icon {
            padding: 8px 0;

            img.icon-do,
            img.icon-dont {
                width: 24px;
                height: 24px;
            }
        }

        .text {
            max-width: 300px;
            min-height: 100px;

            ul {
                &.do {
                    list-style-image: url("../images/visuals/do-bullet.svg")
                }

                &.dont {
                    list-style-image: url("../images/visuals/dont-bullet.svg")
                }
            }
        }

        img {
            width: 300px;
            height: auto;
        }

    }
}
.case-study{
    h3{
        padding: 40px 0 16px 0;
    }
    h4{
        margin: 24px 0 8px 0;
    }
}


.wrapper-grid{
    width: 80%;
}
.grid{
    display: grid;
    gap: 40px;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: auto auto;

    a{
        padding: 0px;
    }

    h3{
        padding-bottom: 16px;
    }

    ol{
        margin: 0;
    }
    #short-brief{
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    #short-findings{
        grid-column-start: 2;
    }
    #short-results{
        border: 1px solid red;
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: -1;
    }
    #short-solution{
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end:   2;        
    }
    #short-takeaways{
        grid-row-start: 2;
        grid-column-start: 2;
    }
}