//@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Serif+Display:ital@0;1&family=Spline+Sans+Mono:ital@0;1&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=DM+Serif+Display:ital@0;1&family=Spline+Sans+Mono:ital,wght@0,300;1,300&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Spline+Sans+Mono:ital,wght@0,300;1,300&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Figtree:ital,wght@0,300..900;1,300..900&family=Spline+Sans+Mono:ital,wght@0,300;1,300&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Comme:wght@100..900&family=DM+Serif+Display:ital@0;1&family=Spline+Sans+Mono:ital,wght@0,300;1,300&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Spline+Sans+Mono:ital,wght@0,300;1,300&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Rubik:ital,wght@0,300..900;1,300..900&family=Spline+Sans+Mono:ital,wght@0,300;1,300&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Spline+Sans+Mono:ital,wght@0,300;1,300&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Spline+Sans+Mono:ital,wght@0,300;1,300&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Onest:wght@100..900&family=Spline+Sans+Mono:ital,wght@0,300;1,300&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Spline+Sans+Mono:ital,wght@0,300;1,300&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Spline+Sans+Mono:ital,wght@0,300;1,300&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Oxygen:wght@300;400;700&family=Spline+Sans+Mono:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');

*::after,
*,

*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}


// NUMERIC VALUES
// FONTS
$heading-font: "Spline Sans Mono", serif;
$body-font: "Libre Franklin", sans-serif;
$display-font: "Spline Sans Mono", serif;
// COLORS
$yellow020: rgba(228, 228, 10, 0.2);
$yellow030: rgba(228, 228, 10, 0.3);
$yellow050: rgba(228, 228, 10, 0.5);
$yellow080: rgba(228, 228, 10, 0.8);
$yellow100: #ffff74;
$yellow110: rgb(255, 255, 230);
$pink000: #fb54a8;
$pink-shadow: #fb54a866;
$white000: #eeeeee;
$black: #0e0e0e;
$bullet: #7d7d7d;

*::selection {
    color: $black;
    background-color: $yellow100;
}

// DIMENSIONS
@mixin mobile {
    @media only screen and (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: 481px) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: 1400px) {
        @content;
    }
}

// BORDERS
@mixin outline-dashed() {
    border-radius: 1px;
    outline: 1px dashed $yellow050;
    outline-offset: 4px;
}

@mixin outline-hover {
    border-radius: 1px;
    outline: 1px solid $white000;
    outline-offset: 4px;
}

@mixin border-dashed ($borderWidth, $color) {
    color: $color;
    border-radius: 1px;
    border-style: dashed;
    border-top-width: $borderWidth;
    border-right-width: $borderWidth;
    border-bottom-width: $borderWidth;
    border-left-width: $borderWidth;
}

@mixin bottom-dashed ($borderWidth, $color) {
    color: $color;
    border-style: dashed;
    border-bottom-width: $borderWidth;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
}

@mixin border-test {
    border-radius: 1px;
    border-style: dashed;
    border-width: 2px;
    color: red;
}

$max-text-width : 700px;

//////////////////////
//        BIG SECTIONS
//////////////////////
html,
body {
    font-feature-settings: "smcp" on;
    font-family: $body-font, sans-serif;
    font-weight: 200;
    background-color: $black;
    color: $white000;
    font-size: 16px;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
}

section {
    @include border-dashed(1px, $yellow030);
    padding: 32px 0px 48px 0px;
}

nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    fill: $yellow100;
    color: $yellow100;

    @include tablet {
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;

        h1 {
            width: 202px; // = nav.contant.width this is so that the nav left side is the same with as the right one, and the middle aligns to the middle of the container
        }
    }

    a.link-home {
        height: 46px;
        padding: 0;

        .icon-home {
            fill: $yellow100;
        }
    }

    .nav-contact {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        gap: 4px;
        height: 100%;
    }

    .nav-nav {
        display: flex;
        flex-flow: row nowrap;
        gap: 24px;

        .link-nav-nav {
            @include tablet {
                position: relative;
                right: -8px; //negative button padding: to align the end of the visible text to the exact edge of the container
            }
        }
    }
}

.jump-menu {
    margin: 40px 0 0 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    padding-bottom: 8px;

    &:not(.no-border) {
        @include bottom-dashed(1px, $yellow030);
    }

    .link {
        padding: 0;
        width: 45%;
        height: 31px;
    }

    @include tablet {
        flex-flow: row nowrap;
        justify-content: center;
        gap: 16px;
        border: none;
        padding: 0;

        .link {
            width: auto;
        }
    }

}

footer {
    max-width: 100%;
    padding: 16px 8px;
    margin-top: 40px;
    text-align: center;

    p {
        font-family: $heading-font;
    }

    .mate {
        width: 18px;
        display: inline;
        margin-right: 8px;
        margin-bottom: -4px;
    }

    .heart {
        display: inline;
        margin-right: 4px;
        height: 100%;
        width: auto;
    }

    a.link.inline {
        color: $pink000;
        font-weight: 400;
        // text-transform: uppercase;
    }
}

.wrapper-top {
    margin-bottom: 20px;
}

//      ANIMATIONS
@keyframes bounce {

    0%,
    100% {
        transform: translateY(5%);
    }

    50% {
        transform: translateY(-10%);
    }

}

@keyframes bounce-right {

    0%,
    100% {
        transform: translateX(5%);
    }

    50% {
        transform: translateX(-10%);
    }

}

@keyframes bounce-out {

    0%,
    100% {
        transform: translate(0%, 0%);
    }

    50% {
        transform: translate(7%, -9%);
    }

}

@keyframes appear {
    from {
        opacity: 0;
        //scale: 0.5;
    }

    to {
        opacity: 1;
        //scale: 1;
    }
}

//      STRUCTURES
.overview-grid {
    display: grid;
    gap: 8px;
    padding: 16px;
    @include border-dashed(1px, $yellow030);
    width: 100%;
    max-width: $max-text-width;

    p.data {
        line-height: 150%;
        margin: 0;
        width: 100%;
        overflow-wrap: break-word;
    }

    p.label {
        line-height: 100%;
        margin: 12px 0 2px 0;
        color: $pink000;
        width: 100%;
    }

    grid-template-columns: auto;
    grid-template-areas: "label-client"
    "data-client"
    "label-role"
    "data-role"
    "label-team"
    "data-team"
    "label-skills1"
    "data-skills1"
    "label-skills2"
    "data-skills2"
    "label-tools"
    "data-tools";


    .label-client {
        grid-area: label-client;
    }

    .data-client {
        grid-area: data-client;
    }

    .label-role {
        grid-area: label-role;
    }

    .data-role {
        grid-area: data-role;
    }

    .label-team {
        grid-area: label-team;
    }

    .data-team {
        grid-area: data-team;
    }

    .label-skills1 {
        grid-area: label-skills1;
    }

    .data-skills1 {
        grid-area: data-skills1;
    }

    .label-skills2 {
        grid-area: label-skills2;
    }

    .data-skills2 {
        grid-area: data-skills2;
    }

    .label-tools {
        grid-area: label-tools;
    }

    .data-tools {
        grid-area: data-tools;
    }

    @include tablet() {
        //width: 80%;
        column-gap: 8px;
        margin: 0 0 16px 0;
        //4 to compensate padding of labels at the first row
        padding: 4px 16px 16px 16px;
        //padding: 16px;
        grid-template-columns: 49% 49%;
        //grid-template-rows: auto auto 16px auto auto;
        grid-template-areas:
            "label-client label-role"
            "data-client data-role"
            "label-team label-tools"
            "data-team data-tools"
            "label-skills1 label-skills2"
            "data-skills1 data-skills2";
    }

    @include desktop() {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "label-client label-role label-team"
            "data-client data-role data-team"
            "label-skills1 label-skills2 label-tools"
            "data-skills1 data-skills2 data-tools";
        padding: 4px 24px 16px 24px;
        column-gap: 16px;
    }
}

.case-image {
    height: 100px;
    width: auto;
    max-width: $max-text-width;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    @include tablet {
        width: 80%;
        height: auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

    }
}

.gallery {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
    padding: 4px;

    @include tablet {
        margin-bottom: 16px;
        width: 100%;
        padding: 0;
        gap: 24px;
        flex-flow: row wrap;
        justify-content: center;
    }
}

.card {
    @include border-dashed(1px, $yellow030);
    padding: 12px;
    border-radius: 2xp;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;

    &.hide {
        display: none;
    }

    .card-top {
        height: auto;
        text-align: center;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        justify-content: flex-start;
        padding-bottom: 4px;
        gap: 4px;

        h3.card-title {
            color: $pink000;
            font-size: 1em;
            padding: 0;
            margin: 4px 0;
            text-align: left;
            width: 100%;
            height: auto;
            padding: 0;
        }

        .tags {
            text-align: left;
            margin: 0;
            line-height: 12px;

            .tag {
                font-size: 0.875em;
            }
        }

        .card-image {
            height: 140px;
            width: 100%;
            overflow: hidden;
            border: .5px solid $yellow030;

            img {
                //width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .card-details {
            text-align: left;
            overflow-wrap: break-word;
            width: 100%;
            margin: 4px 0;

            @include tablet {
                min-height: 40px;
            }
        }
    }

    .card-button {
        margin: 0 auto;
        padding: 8px 0;
    }

    @include tablet {
        max-width: 260px;
        width: 100%;
        justify-content: space-between;
        //animation: appear linear;
        //animation-timeline: view();
        //animation-range: entry 0;

        .card-top {
            display: flex;
            flex-flow: column nowrap;
            align-items: stretch;
            justify-content: flex-start;

            h3.card-title {
                height: 40px;
            }

            .tags {
                height: 36px;
            }

            .card-details {
                height: 60px;
            }
        }
    }

}

.card-process {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 98%;
    max-width: $max-text-width;
    padding: 0 8px 0 0;
    margin: 8px 0;

    .card-process-image {
        border: 1px solid $yellow080;
        min-width: 40px;
        display: none;
    }

    .card-process-text {
        width: 80%;

        p.card-process-title,
        p.card-process-details {
            text-align: left;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        li.card-process-title {
            text-align: left;
            margin: 0 0 4px 16px;
            padding: 0;

            ::marker {
                color: $yellow100;
                font-weight: 400;

            }
        }

        h4.card-process-details {
            text-align: left;
            margin: 0;
            padding: 0;
        }
    }

    @include tablet {
        width: 100%;
        flex-flow: row nowrap;
        gap: 8px;
        padding: 0;
        margin: 8px 8px 8px 0;
        align-items: stretch;
        justify-content: center;

        .card-process-image {
            order: 0;
            min-width: 100px;
            flex-grow: 0;
            overflow: hidden;
            display: flex;
            align-items: center;

            img {
                object-fit: cover;
                width: 100%;
                display: block;
            }
        }
    }
}

header {
    margin: 0;

    &.no-tag {
        p.tag {
            display: none;
        }
    }
}

// WRAPPERS 
.wrapper-border {
    @include border-dashed(1px, $yellow030);
}

.wrapper-content {
    gap: 16px;
}

.wrapper-text {
    width: 98%;
    padding: 0 8px;
    max-width: $max-text-width;

    img {
        margin: 12px 0;
        width: 100%;
        height: auto;
    }
}

.wrapper-contacts {
    display: grid;
    margin: 0 0 16px 0;

    grid-template-areas: "label-email"
        "link-email"
        "label-linkedin"
        "link-linkedin";

    p {
        margin: 0;
        padding: 0;
        width: auto;
        text-align: center;
    }

    .label {
        padding-bottom: 8px;
    }

    .label-email {
        grid-area: label-email;
    }

    .link-email {
        grid-area: link-email;
    }

    .label-linkedin {
        grid-area: label-linkedin;
    }

    .link-linkedin {
        grid-area: link-linkedin;
    }


    @include tablet {
        p {
            text-align: left;
        }

        .label {
            padding: 0 16px 0 0;
        }

        row-gap: 4px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "label-email link-email"
        "label-linkedin link-linkedin";
    }
}

.wrapper-backTo {
    margin: 16px 0;
    font-size: 1em;
}

.column-center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

a.link {
    padding: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    color: $yellow100;
    fill: $yellow100;
    text-decoration: none;
    width: auto;
    flex-grow: 0;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 0.875em;

    &.link-nav-nav {
        font-size: 1em;
        font-weight: 300;
    }

    &.link-home svg #logo-background {
        fill: $yellow100;
    }

    &.disabled {
        color: $yellow050;
        cursor: not-allowed;

        svg {
            fill: $yellow050;
        }
    }

    .hidden {
        // some icons are hidden at every state, 
        // others are hidden by default but appear on hover
        visibility: hidden;
    }

    &.cta {
        margin: 0 0 20px 0;
        font-size: 28px;
    }

    &.inline {
        padding: 0;
        font-size: 1em;
        //height: 1em;
    }

    &:disabled,
    &[disabled] {
        opacity: .4;
        cursor: not-allowed;
    }

    &:focus-visible,
    &:hover:not(:disabled):not([disabled]) {
        color: $yellow110;
        fill: $yellow110;
        text-decoration: underline;
        text-underline-position: under;
        text-underline-offset: 2px;
        text-decoration-thickness: 2px;
        text-decoration-color: $pink000;

        svg {
            visibility: visible;
        }

        // icons have diff behaviours/animations
        //#top > div > nav > h1 > a > svg > path:nth-child(6)
        .icon-home {
            path {
                fill: initial;
            }

            outline: solid 2px $yellow110;

            #logo-background {
                fill: $yellow110;
            }

        }

        .icon-contact path {
            fill: $yellow110;
            stroke: $yellow110;
            stroke-width: 0.5;
        }

        .icon-top,
        .icon-below {
            animation: bounce 0.8s infinite;
        }

        .icon-go-to {
            animation: bounce-right 0.8s infinite;
        }

        .icon-new-page {
            .icon-new-page-arrow {
                animation: bounce-out 0.8s infinite;
            }
        }
    }
}

.tags {
    height: auto;
    width: 100%;
    overflow-wrap: break-word;
    text-align: center;
}

.diagram {
    margin: 8px 0 32px 0;
}

figcaption,
details summary {
    color: $yellow080;
}

img {
    border-radius: 2px;
    width: 100%;
    //display: block;
    //overflow: hidden;
    object-fit: fill;
    max-width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
}

// TEXT STYLES
h1 {
    height: 100%;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: $heading-font;
    text-align: center;
    font-weight: 300;
    color: $pink000;
    margin: 0;

    @include tablet {
        font-size: 2em;
        margin-bottom: 24px;
    }
}

.landing h2 {
    animation: appear ease-in;
    animation-timeline: view();
    animation-range: entry 0;
}

h3 {
    font-family: $heading-font;
    font-weight: 300;
    color: $pink000;
    font-size: 1.25em;
    margin: 0;
}

p+h3 {
    padding-top: 24px;
}


h4 {
    font-size: 1em;
    font-weight: 200;
    color: $yellow100;
    font-family: $heading-font;
}

h3+h4,
h3+.div-h4 {
    padding: 24px 0 4px 0;
}

p+h4,
ol+h4,
ul+h4 {
    padding: 24px 0 4px 0;
}


h5 {
    font-size: 1em;
    font-weight: 400;
    margin: 4px 0 0 0;
    color: $yellow100;
}

ul {
    margin: 0;
    padding: 0;
}

p,
li {
    line-height: 1.45;
    font-weight: 200;
    color: $white000;
    padding-bottom: 12px;

    &.center {
        text-align: center;
    }

}


h3+p {
    padding-top: 8px;
}

ul,
ol {
    margin: 0;
}

li {
    margin-left: 14px;
}

.tag {
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    line-height: 14px;
    font-size: 0.875em;
    margin: 0 4px 0 0;
    font-weight: 400;
    color: $yellow080;

    &:before {
        content: "#";
        margin: 0;
    }

}

strong {
    font-weight: 450;
}

details {

    p,
    li {
        margin: 0 0 0 20px;
    }
}

#hero {
    h2 {
        color: $white000;
        margin: 0;
        font-family: $display-font;
        font-size: 2em;
        text-align: center;
        line-height: 1.3em;

        .name {
            color: $pink000;
            text-shadow: 0 0 6px $pink-shadow;
            padding: 0 4px;
            letter-spacing: 2px;
        }

        .highlight {
            color: $pink000;
            text-shadow: 0 0 6px $pink-shadow;
            font-style: italic;
        }

        @include tablet {
            padding: 60px;
            font-size: 3em;
        }
    }
}

// VISUALS
.wrapper-visual {
    max-width: $max-text-width;
    margin: 8px auto 24px auto;
    background-color: aliceblue;
    padding: 8px;

    @include tablet {
        padding: 16px;
    }

    img {
        margin: 0;
    }

    h4,
    h5,
    h6 {
        text-align: center;
    }

    h4,
    h5,
    p {
        margin: 0;
        padding: 0;
        color: $black;
    }

    ol,
    ul {
        margin: 0 6px;

    }

    p,
    li {
        color: $black;
        font-size: 0.75em;
        line-height: 14px;
        margin-bottom: 0;
    }

    .icon-do,
    .icon-dont {
        height: 16px;
        width: 16px;
    }

    .w-100 {
        width: 100%;
    }

    .w-auto {
        width: auto;
    }

    .wrapper-visual-col {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        height: auto;

        &.gap-8 {
            row-gap: 8px;
        }

        &.gap-16 {
            row-gap: 16px;
        }

        &.gap-32 {
            row-gap: 32px;
        }

        &.gap-40 {
            row-gap: 40px;
        }
    }

    .wrapper-visual-row {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: center;

        &.gap-8 {
            column-gap: 8px;
        }

        &.gap-16 {
            column-gap: 16px;
        }

        &.gap-32 {
            column-gap: 32px;
        }

        &.gap-40 {
            column-gap: 40px;
        }
    }

    .wrapper-visual-col-row {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        width: 100%;

        //
        &.gap-16-32,
        &.gap-16-16,
        &.gap-16-40 {
            row-gap: 16px;
        }

        &.gap-24-32 {
            row-gap: 24px;
        }

        @include tablet {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;

            &.gap-16-16 {
                column-gap: 16px;
            }

            &.gap-16-32,
            &.gap-24-32 {
                column-gap: 32px;
            }

            &.gap-16-40 {
                column-gap: 40px;
            }

        }


    }
}

.wrapper-visual .color-watch {
    height: 20px;
    width: 20px;
    flex-shrink: 0;
    flex-grow: 0;

    img {
        object-fit: contain;
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
    }
}

.wrapper-visual .wrapper-shapes {
    max-width: 340px;

    .shape {
        align-items: center;

        .icon {
            width: 32px;

            .icon-do,
            .icon-dont {
                width: 16px;
                height: 16px;
                margin: auto;
            }
        }

        .text {
            flex-basis: 260px;
        }
    }
}

.wrapper-symbols {
    .symbols {
        align-items: flex-start;
        flex-grow: 0;
        max-width: 500px;

        .symbol {
            align-items: center;

            .image {
                width: 103px;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: center;
                flex-grow: 0;
                overflow: hidden;

                img {
                    object-fit: contain;
                    max-height: 100%;
                    max-width: 100%;
                    width: auto;
                    height: auto;
                }

                @include tablet {
                    align-items: center;
                    justify-content: flex-end;
                }
            }

            .text {
                width: 100%;
                flex-grow: 2;
            }
        }
    }
}

.example.wrapper-visual-col {
    margin: 24px 0;
    max-width: 400px;

    img {
        width: 200px;
        height: auto;
    }
}

.wrapper-visual .characters {
    //width: 600px;
    align-items: stretch;
    align-content: center;
    row-gap: 16px;

    .character {
        min-height: 85px;
        min-width: 280px;
        align-items: center;

        .title {
            text-align: right;
            max-width: 100px;
            min-width: 60px;
            flex-grow: 1;
            flex-shrink: 3;
            display: flex;
            flex-flow: column wrap;
            align-items: flex-end;
            justify-content: center;

        }

        .image {
            max-width: 67px;
            min-width: 55px;
            height: 85px;
            flex-grow: 2;
            flex-shrink: 0;
            overflow: hidden;
            position: relative;

            img {
                object-fit: cover;
                height: 100%;
                position: absolute;
                right: 0;
            }
        }

        .desc {
            max-width: 260px;
            width: 100%;
            height: 100%;
            position: relative;
            min-height: 85px;
            flex-grow: 4;
            padding: 2px;
        }

        .char1-desc {
            p:nth-child(1) {
                position: absolute;
                top: 17px
            }

            p:nth-child(2) {
                position: absolute;
                top: 50px
            }
        }

        .char2-desc {
            p:nth-child(1) {
                position: absolute;
                top: 3px;
            }

            p:nth-child(2) {
                position: absolute;
                top: 42px;
            }
        }

        .char3-desc {
            p:nth-child(1) {
                position: absolute;
                top: 3px;
            }

            p:nth-child(2) {
                position: absolute;
                top: 33px;
            }

            p:nth-child(3) {
                position: absolute;
                top: 50px;
            }
        }

        .char4-desc {
            p:nth-child(1) {
                position: absolute;
                top: 3px;
            }

            p:nth-child(2) {
                position: absolute;
                top: 48px;
            }
        }

        .char5-desc {
            p:nth-child(1) {
                position: absolute;
                top: 3px;
            }

            p:nth-child(2) {
                position: absolute;
                top: 54px;
            }
        }

    }
}

.wrapper-visual .pins {
    align-items: normal;
    flex-wrap: wrap;

    .pin {
        width: 220px;
        align-items: center;
        justify-content: flex-start;

        .image {
            width: 45px;
            height: 59px;
            flex-grow: 0;
            flex-shrink: 0;
        }

        .desc {
            width: 100%;
            flex-grow: 0;
            flex-shrink: 1;
        }
    }
}

.wrapper-visual .cars {
    flex-wrap: wrap;
    justify-content: space-between;

    .car {
        max-width: 100px;
    }
}

.wrapper-visual .alignments {
    flex-wrap: wrap;
    width: auto;
    flex-grow: 0;

    .alignment {
        width: 80px;
        height: auto;
    }

}

.wrapper-visual .lines {
    .comparison {
        .line {
            width: 100px;
            height: auto;
        }
    }
}

.wrapper-visual .annotations {
    img {
        max-width: 400px;
    }
}

.wrapper-visual .composition {
    img {
        width: 300px;
        height: auto;
    }
}

.wrapper-visual .comparison {
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;
    width: auto;
}

.wrapper-visual .layouts {
    .layout {
        .icon {
            padding: 8px 0;

            img.icon-do,
            img.icon-dont {
                width: 24px;
                height: 24px;
            }
        }

        .text {
            max-width: 300px;
            min-height: 100px;

            ul {
                &.do {
                    list-style-image: url("../images/visuals/do-bullet.svg")
                }

                &.dont {
                    list-style-image: url("../images/visuals/dont-bullet.svg")
                }
            }
        }

        img {
            width: 300px;
            height: auto;
        }

    }
}

.case-study {
    h3 {
        padding: 40px 0 16px 0;
    }

    h4 {
        margin: 24px 0 8px 0;
    }
}


.resume {
    padding-bottom: 0; // to make an exception because the last sections should end on resume's last border too 

    h3 {
        text-align: center;
    }
}

// GRIDS
.landing-grid {
    #portfolio {
        padding: 16px 4px;
        justify-content: flex-start;

        @include tablet {
            padding: 32px 16px;
            justify-content: flex-start;
        }
    }

    #contact {
        justify-content: center;
        align-items: center;
    }

    h2 {
        text-align: center;
        margin-bottom: 16px;
        margin-top: 8px;
    }
}

.landing-grid {
    display: flex;
    flex-direction: column;

    #hero {
        grid-area: hero;
    }

    #portfolio {
        grid-area: portfolio;
    }

    #short-resume {
        grid-area: career;
    }

    #short-about-me {
        grid-area: aboutme;
    }

    #contact {
        grid-area: contact;
    }

    @include tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "hero hero"
            "portfolio portfolio"
            "career aboutme"
            "contact contact";
    }

    @include desktop {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "hero hero hero hero"
            "portfolio portfolio portfolio portfolio"
            "career aboutme contact contact";
    }

}


.resume-grid,
.experience-grid {
    // this is only for the common structure only. Use .resume for text styles. 
    display: flex;
    flex-flow: column;

    @include tablet() {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    @include desktop() {
        grid-template-columns: 1fr 1fr 1fr; // each grid defines their layout
    }
}

.resume-grid {
    .resume-column {
        padding: 0 24px 32px 24px;
    }

    li {

        span {
            position: relative;
            left: 4px;
        }

        &::marker {
            font-size: .6em;
            color: $bullet;
        }
    }

    @include tablet {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "exp exp"
            "technical-skills soft-skills"
            "educ lang"
    }

    @include desktop {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "exp exp exp"
            "technical-skills soft-skills educ"
            "technical-skills soft-skills lang"
    }

    .experience-grid {
        grid-area: exp;
    }

    .education {
        grid-area: educ;
    }

    .languages {
        grid-area: lang;
    }

    .wrapper-technical-skills {
        grid-area: technical-skills;
    }

    .wrapper-soft-skills {
        grid-area: soft-skills;
    }

}

.experience-grid {
    padding: 60px 0 24px 0;

    .wrapper-experience {
        .wrapper-experience-header {
            padding: 24px 0 8px 0;

            h4 {
                margin-bottom: 20px;
            }
        }

        .exp-company-dates {
            p {

                font-size: .9em;
                margin: 0;
            }

            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        .experience-company {
            font-variant-caps: small-caps;
            text-transform: uppercase;
        }

        .experience-dates {
            font-weight: 100;
        }
    }

    @include tablet {
        .wrapper-experience {
            margin-bottom: 24px;
        }

        grid-template-rows: auto auto;
        grid-template-areas: "title title"
        "exp1 exp2"
        "exp3 exp4"
        "exp5 exp6";
    }

    @include desktop {
        grid-template-rows: auto auto auto;
        grid-template-areas: "title title title"
            "exp1 exp2 exp3"
            "exp4 exp5 exp6";
    }

    h3 {
        grid-area: title;
    }

    .experience1 {
        grid-area: exp1;
    }

    .experience2 {
        grid-area: exp2;
    }

    .experience3 {
        grid-area: exp3;
    }

    .experience4 {
        grid-area: exp4;
    }

    .experience5 {
        grid-area: exp5;
    }

    .experience6 {
        grid-area: exp6;
    }
}

.languages .languages-grid {
    max-width: 460px;
    display: grid;
    column-gap: 16px;
    justify-content: start;
    justify-items: start;

    div {
        display: flex;
        flex-flow: row wrap;

        p.language-p,
        h4.language-h4 {
            line-height: 20px;
        }

        h4 {
            width: 68px;
            font-size: 0.87em;
        }

        p {
            width: 90px;
        }
    }

    .lang-item1 {
        grid-area: item1;
    }

    .lang-item2 {
        grid-area: item2;
    }

    .lang-item3 {
        grid-area: item3;
    }

    .lang-item4 {
        grid-area: item4;
    }

    grid-template-areas: "item1"
    "item2"
    "item3"
    "item4";


    @include tablet() {
        column-gap: 16px;
        grid-template-areas:
            "item1 item2"
            "item3 item4"
    }
}

.cell-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    &.top {
        justify-content: flex-start;

    }

    padding: 32px 16px;

    @include tablet {
        padding: 32px;
        row-gap: 4px;
    }
}

.casestudy-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
        display: grid;
        column-gap: 0;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        grid-template-areas: "brief findings"
            "solution takeaways"
            "results results";
    }

    @include desktop {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "brief research findings"
            "solution takeaways results";
    }

    h4 {
        margin-bottom: 16px;
    }

    ul,
    ol {
        ::marker {
            color: $pink000;
        }
    }

    #short-brief {
        grid-area: brief;
    }

    #short-findings {
        grid-area: findings;
    }

    #short-research {
        grid-area: research;
    }

    #short-results {
        grid-area: results;
    }

    #short-solution {
        grid-area: solution;
    }

    #short-takeaways {
        grid-area: takeaways;
    }


}

.section-icon {
    height: 36px;
    width: 36px;
}

figure {
    figcaption.desktop {
        display: none;
    }

    @include tablet {
        figcaption {
            display: none;

            &.desktop {
                display: block;
            }
        }
    }

    .pics-grid {

        margin: 0 auto;

        img {
            width: 100%;
            height: auto;
            //margin: 12px 0 0 0;
        }

        figcaption {
            padding: 2px 0 4px 0;
        }

        @include tablet() {
            display: grid;
            gap: 4px;
            grid-template-columns: auto auto auto;
            grid-template-rows: 132px auto;
            grid-template-areas: "books horses frida"
                "books bird frida";

            img {
                margin: 0;
                height: 100%;
            }

            figcaption {
                display: none;

                &.desktop {
                    display: block;
                }
            }
        }

        .pic-books {
            grid-area: books;
        }

        .pic-bird {
            grid-area: bird;
        }

        .pic-horses {
            grid-area: horses;
        }

        .pic-frida {
            grid-area: frida;
        }
    }

}


.aboutme-row {
    margin: auto;
    .aboutme-column {
        margin: auto;
        padding: 24px 8px;
        h3 {
            text-align: center;
        }
        .aboutme-item {
            display: flex;
            flex-flow: row nowrap;
            gap: 16px;
            margin: 24px 0;

            .icon {
                width: 48px;
                height: 48px;
                flex-shrink: 0;
                svg{
                    stroke-width: 8px;
                }
            }

            .text {
                //width: 340px;
                padding: 0;
                margin: 0;
            }

            &.special {
                display: block;
                padding-left:64px; // icon 36 + gap 16
                .text {
                    font-weight: 450;
                }
            }

            &.frida {
                img {
                    width: 48px;
                    flex-grow: 0;
                }
                gap:12px;
            }
        }
    }

    @include tablet {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 40px;
        //width: 100%;
        max-width: 1100px;
        margin: auto;
        column-gap: 60px;
        .aboutme-column {
            display: flex;
            flex-flow: column nowrap;
            margin: 0;
            gap: 36px;
            padding: 0;

            h3 {
                text-align: left;
                padding-left: 128px;
            }

            .aboutme-item {
                //gap: 50px;
                max-width: 468px;
                align-items: center;
                justify-content: space-between;
                margin: 0;
                .icon {
                    width: 78px;
                    height: 78px;
                    flex-shrink: 0;
                }
                .text {
                    //width: 340px;
                    padding: 0;
                    margin: 0;
                    flex-grow: 1;
                }

                &.frida {
                    img {
                        height: 90px;
                        width: auto;
                    }
                    gap:52px;
                }

                &.special {
                    display: flex;
                    justify-content: flex-end;
                    padding-left: 94px; // 78 + 16
                    .text {
                        font-weight: 450;
                    }

                    .icon {
                        display: none;
                    }
                }

            }
        }

    }
}