@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Lemon&display=swap");
*::after,
*,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

/* Color styles */
/* Text-size styles 
--candy---h2: 60px;
--candy---h3: 26px;
--candy---h4: 22px;
--candy---h5: 20px;
--candy--p: 18px;
--candy--tag: 14px;
--candy--link--link-hover: 16px;
--candy--link--nav: 20px;
--candy--button--label: 20px;
*/
/* Effect styles 
--area: inset -4px -4px 8px rgba(255, 255, 255, 0.4),inset 4px 4px 12px rgba(0, 0, 0, 0.25);
--button-shadow:  0px 8px 8px rgba(0, 0, 0, 0.25);
--card-shadow:  0px 4px 4px rgba(120, 120, 120, 0.25);
--section--h2-shadow:  0px 2px 2px rgba(0, 0, 0, 0.5);
--sticker-shadow:  0px 10px 8px rgba(0, 0, 0, 0.25);*/
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #FFFBE7;
  font-feature-settings: "smcp" on;
  font-family: "IBM Plex Sans", sans-serif, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #222222;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  width: 95%;
}

.flex-col-center-top {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

section {
  padding: 80px 20px;
  outline: 6px solid #222222;
  border-radius: 40px;
  margin-top: 80px;
  width: 100%;
  position: relative;
}
section#hero {
  margin-top: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}
section#hero h2 {
  display: block;
  margin-top: 1.5vw;
  max-width: 80%;
  color: #222222;
  font-family: "Lemon", serif;
  font-size: 1.9em;
  text-align: left;
}
section#hero h2 .name {
  color: #D96689;
}
section#hero h2 .highlight-hero {
  color: #FCC047;
}
@media only screen and (min-width: 481px) {
  section#hero h2 {
    font-size: 3.5em;
  }
}

.bg-white {
  background-color: #FFFEFA;
}

.bg-pink {
  background-color: #F5B7CA;
}

.bg-green {
  background-color: #A4ECDA;
}

.bg-yellow {
  background-color: #FCC047;
}

.center-center {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 24px 0 60px 0;
}
@media only screen and (min-width: 481px) {
  nav {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  nav h1 {
    width: 174px;
  }
}
nav .nav-contact {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  gap: 4px;
  height: 100%;
}
nav .nav-nav {
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
}
@media only screen and (min-width: 481px) {
  nav .nav-nav .link-nav-nav {
    position: relative;
    right: -8px;
  }
}

.wrapper-jump-menu {
  text-align: center;
  margin: 40px 10px;
}

.jump-menu {
  list-style: none;
  margin: 0 auto;
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 8px;
  position: relative;
  height: 26px;
}
.jump-menu .link {
  padding: 0;
  width: 45%;
  height: 31px;
}
.jump-menu .icon-below {
  visibility: visible;
}
.jump-menu li {
  margin: 0;
  padding: 0;
  width: 50%;
}
@media only screen and (min-width: 481px) {
  .jump-menu {
    gap: 4px;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 16px;
    border: none;
    padding: 0;
  }
  .jump-menu ::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.1px;
    background: #D96689;
    width: calc(100% - 31px);
  }
  .jump-menu .link {
    width: auto;
  }
}
@media only screen and (min-width: 1400px) {
  .jump-menu .icon-below {
    visibility: hidden;
  }
}

footer {
  align-items: center;
  max-width: 100%;
  padding: 10% 0 0.5% 0;
  text-align: center;
}

*::selection {
  color: #FFFEFA;
  background-color: #D406A1;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(5%);
  }
  50% {
    transform: translateY(-10%);
  }
}
@keyframes bounce-right {
  0%, 100% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-10%);
  }
}
@keyframes bounce-out {
  0%, 100% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(7%, -9%);
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.overview-grid {
  display: grid;
  column-gap: 8px;
  row-gap: 4px;
  margin-bottom: 12px;
  width: 100%;
  max-width: 700px;
  align-items: baseline;
  grid-template-columns: auto;
  grid-template-areas: "label-client" "data-client" "label-type" "data-type" "label-website" "data-website" "label-role" "data-role" "label-team" "data-team" "label-skills1" "data-skills1" "label-skills2" "data-skills2" "label-tools" "data-tools";
}
.overview-grid p.data {
  line-height: 150%;
  margin: 0;
  width: 100%;
  overflow-wrap: break-word;
  padding: 0;
}
.overview-grid p.label {
  line-height: 100%;
  margin: 12px 0 2px 0;
  color: #4f4f94;
  width: 100%;
  padding: 0;
}
.overview-grid .label-type {
  grid-area: label-type;
}
.overview-grid .data-type {
  grid-area: data-type;
}
.overview-grid .label-website {
  grid-area: label-website;
}
.overview-grid .data-website {
  line-height: 1em;
  grid-area: data-website;
}
.overview-grid .label-client {
  grid-area: label-client;
}
.overview-grid .data-client {
  grid-area: data-client;
}
.overview-grid .label-role {
  grid-area: label-role;
}
.overview-grid .data-role {
  grid-area: data-role;
}
.overview-grid .label-team {
  grid-area: label-team;
}
.overview-grid .data-team {
  grid-area: data-team;
}
.overview-grid .label-skills1 {
  grid-area: label-skills1;
}
.overview-grid .data-skills1 {
  grid-area: data-skills1;
}
.overview-grid .label-skills2 {
  grid-area: label-skills2;
}
.overview-grid .data-skills2 {
  grid-area: data-skills2;
}
.overview-grid .label-tools {
  grid-area: label-tools;
}
.overview-grid .data-tools {
  grid-area: data-tools;
}
@media only screen and (min-width: 481px) {
  .overview-grid {
    margin: 0 0 32px 0;
    grid-template-columns: auto auto;
    grid-template-areas: "label-client label-type" "data-client data-type" "label-website label-team" "data-website data-team" "label-role label-tools" "data-role  data-tools" "label-skills1 label-skills2" "data-skills1 data-skills2";
  }
}
@media only screen and (min-width: 1400px) {
  .overview-grid {
    grid-template-columns: 1fr 1fr 0.7fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "label-client label-type label-website" "data-client data-type data-website" "label-role label-role label-team" "data-role data-role data-team" "label-skills1 label-skills2 label-tools" "data-skills1 data-skills2 data-tools";
    column-gap: 16px;
  }
}

.case-image {
  width: 60%;
  max-width: 800px;
  margin: 0 auto;
}
.case-image img {
  width: 100%;
  height: auto;
  display: block;
}
@media only screen and (min-width: 481px) {
  .case-image {
    display: flex;
    justify-content: center;
    width: 700px;
    height: auto;
    margin: auto;
  }
  .case-image img {
    width: 70%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.gallery {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: center;
  padding: 4px;
  row-gap: 8px;
}
@media only screen and (min-width: 481px) {
  .gallery {
    margin-bottom: 16px;
    width: 100%;
    padding: 0;
    gap: 8px;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.card {
  background-color: #FFDC95;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  align-items: stretch;
  justify-content: flex-start;
  gap: 2px;
}
.card.hide {
  display: none;
}
.card h3.card-title {
  padding: 0;
  margin: 0;
  text-align: left;
  width: 100%;
}
.card .card-details {
  text-align: left;
  overflow-wrap: break-word;
  width: 100%;
  margin: 0;
  padding: 0;
}
.card .tags {
  margin: 4px 0;
}
.card .tag {
  display: inline-block;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  color: #222222;
  padding: 4px 8px;
  font-weight: 300;
  font-size: 0.8em;
  background-color: #FFDC95;
  border: 1px solid #B87E0A;
  border-radius: 16px;
  margin: 0 4px 8px 0;
}
.card .card-image {
  height: 140px;
  width: 100%;
  overflow: hidden;
  border: 0.5px solid #B87E0A;
}
.card .card-image img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.card .card-button {
  margin: 0 auto;
  padding: 8px 0;
  width: auto;
  font-size: 14px;
}
@media only screen and (min-width: 481px) {
  .card {
    max-width: 280px;
    row-gap: 4px;
    width: 100%;
    justify-content: space-between;
  }
  .card h3.card-title {
    min-height: 100px;
  }
  .card .card-details {
    min-height: 90px;
  }
  .card .tags {
    min-height: 80px;
  }
}

.card-process {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 98%;
  max-width: 700px;
  padding: 0 8px 0 0;
  margin: 16px 0;
}
.card-process .card-process-image {
  border: 1px solid rgba(228, 228, 10, 0.8);
  min-width: 40px;
  display: none;
}
.card-process .text {
  width: 80%;
}
.card-process .text p.card-process-details {
  text-align: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
.card-process .text .card-title {
  margin-top: 4px;
}
.card-process .text .card-title h5 {
  padding: 0;
}
@media only screen and (min-width: 481px) {
  .card-process {
    width: 100%;
    flex-flow: row nowrap;
    gap: 8px;
    padding: 0;
    margin: 16px 0;
    align-items: stretch;
    justify-content: center;
  }
  .card-process .card-process-image {
    order: 0;
    min-width: 100px;
    flex-grow: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .card-process .card-process-image img {
    object-fit: cover;
    width: 100%;
    display: block;
  }
}

.wrapper-border {
  color: rgba(228, 228, 10, 0.3);
  border-radius: 1px;
  border-style: dashed;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.wrapper-contacts {
  display: grid;
  margin: 0 0 16px 0;
  align-items: baseline;
  grid-template-areas: "label-email" "link-email" "label-linkedin" "link-linkedin";
}
.wrapper-contacts p {
  margin: 0;
  padding: 0;
  width: auto;
  text-align: center;
}
.wrapper-contacts .label {
  padding-bottom: 8px;
}
.wrapper-contacts .label-email {
  grid-area: label-email;
}
.wrapper-contacts .link-email {
  grid-area: link-email;
}
.wrapper-contacts .link-email .link {
  padding: 0;
}
.wrapper-contacts .label-linkedin {
  grid-area: label-linkedin;
}
.wrapper-contacts .link-linkedin {
  grid-area: link-linkedin;
}
.wrapper-contacts .link-linkedin .link {
  padding: 0;
}
@media only screen and (min-width: 481px) {
  .wrapper-contacts {
    margin: 0 0 32px 0;
    row-gap: 4px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "label-email link-email" "label-linkedin link-linkedin";
  }
  .wrapper-contacts p {
    text-align: left;
  }
  .wrapper-contacts .label {
    padding: 0 16px 0 0;
  }
}

.wrapper-backTo {
  margin: 60px 0 16px 0;
  align-items: center;
}

.column-center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  text-decoration: none;
  background-color: #FFFEFA;
  color: #222222;
  outline: 1px solid #222222;
  border-radius: 8px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  gap: 10px;
  padding: 12px 24px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}
.btn svg {
  fill: #222222;
}
.btn:hover {
  box-shadow: none;
  text-decoration: none;
}
.btn:hover .icon-new-page .icon-new-page-arrow {
  animation: bounce-out 0.8s infinite;
  fill: #D406A1;
}
.btn:hover .icon-go-to {
  animation: bounce-right 0.8s infinite;
  fill: #D406A1;
}
.btn:hover .icon-top,
.btn:hover .icon-below {
  animation: bounce 0.8s infinite;
  fill: #D406A1;
}
.btn:active {
  outline: 2px solid #222222;
}

.icon-top,
.icon-below,
.icon-new-page .icon-new-page-arrow,
.icon-go-to {
  fill: #222222;
}

a.link {
  padding: 8px;
  display: inline-flex;
  column-gap: 4px;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  color: #222222;
  fill: #222222;
  text-decoration: none;
  flex-grow: 0;
  font-weight: 700;
}
a.link.link-home {
  height: 46px;
}
a.link.link-home .icon-home .logo-front {
  fill: #FFFEFA;
}
a.link.link-home .icon-home #logo-background {
  fill: #D96689;
}
a.link.link-nav-nav {
  display: block;
  font-size: 1em;
  font-weight: 700;
}
a.link.disabled {
  color: rgba(228, 228, 10, 0.5);
  cursor: not-allowed;
}
a.link.disabled svg {
  fill: rgba(228, 228, 10, 0.5);
}
a.link .hidden {
  visibility: hidden;
}
a.link.inline {
  padding: 0;
  color: #2B40D9;
  font-weight: 400;
}
a.link:disabled, a.link[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}
a.link:focus-visible, a.link:hover:not(:disabled):not([disabled]) {
  color: #222222;
  fill: #222222;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 2px;
  text-decoration-thickness: 4px;
  text-decoration-color: #D406A1;
}
a.link:focus-visible.inline, a.link:hover:not(:disabled):not([disabled]).inline {
  text-decoration-color: #2B40D9;
  color: #2B40D9;
}
a.link:focus-visible svg, a.link:hover:not(:disabled):not([disabled]) svg {
  visibility: visible;
}
a.link:focus-visible .icon-home, a.link:hover:not(:disabled):not([disabled]) .icon-home {
  outline: solid 4px #D406A1;
}
a.link:focus-visible .icon-home .logo-front, a.link:hover:not(:disabled):not([disabled]) .icon-home .logo-front {
  fill: #D406A1;
}
a.link:focus-visible .icon-home #logo-background, a.link:hover:not(:disabled):not([disabled]) .icon-home #logo-background {
  fill: #FFFBE7;
}
a.link:focus-visible .icon-contact, a.link:hover:not(:disabled):not([disabled]) .icon-contact {
  outline: 2px solid #D406A1;
  border-radius: 4px;
}
a.link:focus-visible .icon-below, a.link:hover:not(:disabled):not([disabled]) .icon-below {
  animation: bounce 0.8s infinite;
  fill: #D406A1;
}
a.link:focus-visible .icon-contact path, a.link:hover:not(:disabled):not([disabled]) .icon-contact path {
  fill: #D406A1;
  stroke: #D406A1;
}
a.link:focus-visible .icon-new-page .icon-new-page-arrow, a.link:hover:not(:disabled):not([disabled]) .icon-new-page .icon-new-page-arrow {
  animation: bounce-out 0.8s infinite;
  fill: #D406A1;
}
a.link:focus-visible .icon-house, a.link:hover:not(:disabled):not([disabled]) .icon-house {
  fill: #D406A1;
}

.cta {
  font-size: 2.5vw;
  font-family: "Lemon", serif;
  color: #FFFEFA;
  padding: 2% 5%;
  margin: auto;
  text-decoration: none;
  background-color: #D96689;
  border: 10px solid #FFFEFA;
  border-radius: 5em;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}
.cta:hover {
  box-shadow: none;
}
.cta:active {
  background-color: #FBDBE5;
  color: #D96689;
  border: 10px solid #D96689;
}

.tags {
  height: auto;
  width: 100%;
  overflow-wrap: break-word;
  text-align: center;
}

.diagram {
  margin: 8px 0 32px 0;
}

figcaption,
details summary {
  color: rgba(228, 228, 10, 0.8);
}

img {
  border-radius: 2px;
  width: 100%;
  object-fit: fill;
  max-width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
}

h1 {
  height: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Lemon", serif;
  text-align: center;
  color: #222222;
  font-size: 1.5em;
}
@media only screen and (min-width: 481px) {
  h2 {
    font-size: 2.5em;
    margin-bottom: 32px;
  }
}

h3 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  color: #222222;
  font-size: 1.44em;
  text-align: center;
  margin: 0;
  padding: 60px 0 40px 0;
}

h4.show-indent::before {
  content: ">";
  color: #FFFEFA;
  display: inline-block;
  margin-right: 8px;
}

h4 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.22em;
  font-weight: 500;
  margin-bottom: 8px;
}
h4 .highlight {
  text-align: center;
  margin: 0 2px;
  font-weight: 700;
}

/* 
h4,
.div-h4 {
    padding: 24px 0 2px 0;
} */
p + h4,
ul + h4,
ol + h4 {
  padding-top: 32px;
  padding-bottom: 0;
}

h5 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.11em;
  font-weight: 500;
  color: #222222;
  margin: 8px 0 2px 0;
}

p,
li {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 400;
  color: #222222;
  padding-bottom: 12px;
}
p.center,
li.center {
  text-align: center;
}

h3 + p {
  padding-top: 8px;
}

ul,
ol {
  margin: 0;
}

li ol,
li ul {
  margin-top: 12px;
}

li {
  margin-left: 20px;
  padding-left: 8px;
}
li::marker {
  color: #D96689;
}

ul li::marker {
  font-size: 0.8em;
}

strong {
  font-weight: 450;
}

.wrapper-visual {
  max-width: 700px;
  margin: 8px auto 24px auto;
  background-color: aliceblue;
  padding: 8px;
}
@media only screen and (min-width: 481px) {
  .wrapper-visual {
    padding: 16px;
  }
}
.wrapper-visual img {
  margin: 0;
}
.wrapper-visual h4,
.wrapper-visual h5,
.wrapper-visual h6 {
  text-align: center;
}
.wrapper-visual h4,
.wrapper-visual h5,
.wrapper-visual p {
  margin: 0;
  padding: 0;
  color: #0e0e0e;
}
.wrapper-visual ol,
.wrapper-visual ul {
  margin: 0 6px;
}
.wrapper-visual p,
.wrapper-visual li {
  color: #0e0e0e;
  font-size: 0.75em;
  line-height: 14px;
  margin-bottom: 0;
}
.wrapper-visual .icon-do,
.wrapper-visual .icon-dont {
  height: 16px;
  width: 16px;
}
.wrapper-visual .w-100 {
  width: 100%;
}
.wrapper-visual .w-auto {
  width: auto;
}
.wrapper-visual .wrapper-visual-col {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: auto;
}
.wrapper-visual .wrapper-visual-col.gap-8 {
  row-gap: 8px;
}
.wrapper-visual .wrapper-visual-col.gap-16 {
  row-gap: 16px;
}
.wrapper-visual .wrapper-visual-col.gap-32 {
  row-gap: 32px;
}
.wrapper-visual .wrapper-visual-col.gap-40 {
  row-gap: 40px;
}
.wrapper-visual .wrapper-visual-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
}
.wrapper-visual .wrapper-visual-row.gap-8 {
  column-gap: 8px;
}
.wrapper-visual .wrapper-visual-row.gap-16 {
  column-gap: 16px;
}
.wrapper-visual .wrapper-visual-row.gap-32 {
  column-gap: 32px;
}
.wrapper-visual .wrapper-visual-row.gap-40 {
  column-gap: 40px;
}
.wrapper-visual .wrapper-visual-col-row {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.wrapper-visual .wrapper-visual-col-row.gap-16-32, .wrapper-visual .wrapper-visual-col-row.gap-16-16, .wrapper-visual .wrapper-visual-col-row.gap-16-40 {
  row-gap: 16px;
}
.wrapper-visual .wrapper-visual-col-row.gap-24-32 {
  row-gap: 24px;
}
@media only screen and (min-width: 481px) {
  .wrapper-visual .wrapper-visual-col-row {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
  }
  .wrapper-visual .wrapper-visual-col-row.gap-16-16 {
    column-gap: 16px;
  }
  .wrapper-visual .wrapper-visual-col-row.gap-16-32, .wrapper-visual .wrapper-visual-col-row.gap-24-32 {
    column-gap: 32px;
  }
  .wrapper-visual .wrapper-visual-col-row.gap-16-40 {
    column-gap: 40px;
  }
}

.wrapper-visual .color-watch {
  height: 20px;
  width: 20px;
  flex-shrink: 0;
  flex-grow: 0;
}
.wrapper-visual .color-watch img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}

.wrapper-visual .wrapper-shapes {
  max-width: 340px;
}
.wrapper-visual .wrapper-shapes .shape {
  align-items: center;
}
.wrapper-visual .wrapper-shapes .shape .icon {
  width: 32px;
}
.wrapper-visual .wrapper-shapes .shape .icon .icon-do,
.wrapper-visual .wrapper-shapes .shape .icon .icon-dont {
  width: 16px;
  height: 16px;
  margin: auto;
}
.wrapper-visual .wrapper-shapes .shape .text {
  flex-basis: 260px;
}

.wrapper-symbols .symbols {
  align-items: flex-start;
  flex-grow: 0;
  max-width: 500px;
}
.wrapper-symbols .symbols .symbol {
  align-items: center;
}
.wrapper-symbols .symbols .symbol .image {
  width: 103px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  overflow: hidden;
}
.wrapper-symbols .symbols .symbol .image img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}
@media only screen and (min-width: 481px) {
  .wrapper-symbols .symbols .symbol .image {
    align-items: center;
    justify-content: flex-end;
  }
}
.wrapper-symbols .symbols .symbol .text {
  width: 100%;
  flex-grow: 2;
}

.example.wrapper-visual-col {
  margin: 24px 0;
  max-width: 400px;
}
.example.wrapper-visual-col img {
  width: 200px;
  height: auto;
}

.wrapper-visual .characters {
  align-items: stretch;
  align-content: center;
  row-gap: 16px;
}
.wrapper-visual .characters .character {
  min-height: 85px;
  min-width: 280px;
  align-items: center;
}
.wrapper-visual .characters .character .title {
  text-align: right;
  max-width: 100px;
  min-width: 60px;
  flex-grow: 1;
  flex-shrink: 3;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  justify-content: center;
}
.wrapper-visual .characters .character .image {
  max-width: 67px;
  min-width: 55px;
  height: 85px;
  flex-grow: 2;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}
.wrapper-visual .characters .character .image img {
  object-fit: cover;
  height: 100%;
  position: absolute;
  right: 0;
}
.wrapper-visual .characters .character .desc {
  max-width: 260px;
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 85px;
  flex-grow: 4;
  padding: 2px;
}
.wrapper-visual .characters .character .char1-desc p:nth-child(1) {
  position: absolute;
  top: 17px;
}
.wrapper-visual .characters .character .char1-desc p:nth-child(2) {
  position: absolute;
  top: 50px;
}
.wrapper-visual .characters .character .char2-desc p:nth-child(1) {
  position: absolute;
  top: 3px;
}
.wrapper-visual .characters .character .char2-desc p:nth-child(2) {
  position: absolute;
  top: 42px;
}
.wrapper-visual .characters .character .char3-desc p:nth-child(1) {
  position: absolute;
  top: 3px;
}
.wrapper-visual .characters .character .char3-desc p:nth-child(2) {
  position: absolute;
  top: 33px;
}
.wrapper-visual .characters .character .char3-desc p:nth-child(3) {
  position: absolute;
  top: 50px;
}
.wrapper-visual .characters .character .char4-desc p:nth-child(1) {
  position: absolute;
  top: 3px;
}
.wrapper-visual .characters .character .char4-desc p:nth-child(2) {
  position: absolute;
  top: 48px;
}
.wrapper-visual .characters .character .char5-desc p:nth-child(1) {
  position: absolute;
  top: 3px;
}
.wrapper-visual .characters .character .char5-desc p:nth-child(2) {
  position: absolute;
  top: 54px;
}

.wrapper-visual .pins {
  align-items: normal;
  flex-wrap: wrap;
}
.wrapper-visual .pins .pin {
  width: 220px;
  align-items: center;
  justify-content: flex-start;
}
.wrapper-visual .pins .pin .image {
  width: 45px;
  height: 59px;
  flex-grow: 0;
  flex-shrink: 0;
}
.wrapper-visual .pins .pin .desc {
  width: 100%;
  flex-grow: 0;
  flex-shrink: 1;
}

.wrapper-visual .cars {
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper-visual .cars .car {
  max-width: 100px;
}

.wrapper-visual .alignments {
  flex-wrap: wrap;
  width: auto;
  flex-grow: 0;
}
.wrapper-visual .alignments .alignment {
  width: 80px;
  height: auto;
}

.wrapper-visual .lines .comparison .line {
  width: 100px;
  height: auto;
}

.wrapper-visual .annotations img {
  max-width: 400px;
}

.wrapper-visual .composition img {
  width: 300px;
  height: auto;
}

.wrapper-visual .comparison {
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 16px;
  width: auto;
}

.wrapper-visual .layouts .layout .icon {
  padding: 8px 0;
}
.wrapper-visual .layouts .layout .icon img.icon-do,
.wrapper-visual .layouts .layout .icon img.icon-dont {
  width: 24px;
  height: 24px;
}
.wrapper-visual .layouts .layout .text {
  max-width: 300px;
  min-height: 100px;
}
.wrapper-visual .layouts .layout .text ul.do {
  list-style-image: url("../images/visuals/do-bullet.svg");
}
.wrapper-visual .layouts .layout .text ul.dont {
  list-style-image: url("../images/visuals/dont-bullet.svg");
}
.wrapper-visual .layouts .layout img {
  width: 300px;
  height: auto;
}

.case-study .case-study-tltr,
.case-study .case-study-full {
  width: 100%;
}
.case-study .case-study-tltr h4.show-indent::before,
.case-study .case-study-full h4.show-indent::before {
  color: #D96689;
}
.case-study .case-study-tltr img,
.case-study .case-study-full img {
  margin-bottom: 4px;
  color: rgba(228, 228, 10, 0.5);
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-radius: 8px;
}
.case-study .case-study-tltr img.no-border,
.case-study .case-study-full img.no-border {
  border: none;
}
.case-study .case-study-tltr img.w300,
.case-study .case-study-full img.w300 {
  height: 300px;
  width: auto;
  margin: auto;
}
.case-study .case-study-tltr figure,
.case-study .case-study-tltr figcaption,
.case-study .case-study-full figure,
.case-study .case-study-full figcaption {
  display: block;
}
.case-study .case-study-tltr img + img,
.case-study .case-study-tltr img + p,
.case-study .case-study-tltr img + h4,
.case-study .case-study-tltr img + h5,
.case-study .case-study-tltr figure + figure,
.case-study .case-study-tltr figure + p,
.case-study .case-study-tltr figure + h4,
.case-study .case-study-tltr figure + h5,
.case-study .case-study-full img + img,
.case-study .case-study-full img + p,
.case-study .case-study-full img + h4,
.case-study .case-study-full img + h5,
.case-study .case-study-full figure + figure,
.case-study .case-study-full figure + p,
.case-study .case-study-full figure + h4,
.case-study .case-study-full figure + h5 {
  margin-top: 16px;
}

.case-study-tltr {
  width: 100%;
}

.wrapper-text {
  width: 98%;
  max-width: 700px;
  padding: 0 8px;
  margin: auto;
  text-align: left;
}
.wrapper-text h3:first-child {
  padding: 36px 0 16px 0;
}
.wrapper-text h3 {
  text-align: left;
  padding: 32px 0 16px 0;
}
.wrapper-text h3 + p {
  padding-top: 0;
}
.wrapper-text h4 {
  padding: 24px 0 12px 0;
}
.wrapper-text h5 {
  padding: 8px 0 12px 0;
}
.wrapper-text .overview-grid h5 {
  padding: 18px 0 2px 0;
  margin: 0;
}
.wrapper-text img {
  margin: 12px 0;
  width: 100%;
  height: auto;
}
.wrapper-text details {
  color: rgb(210, 210, 210);
}
.wrapper-text details summary {
  color: #222222;
  padding-bottom: 8px;
}

.resume-grid,
.experience-grid {
  display: flex;
  flex-flow: column;
  row-gap: 16px;
}
@media only screen and (min-width: 481px) {
  .resume-grid,
  .experience-grid {
    column-gap: 50px;
    row-gap: 30px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1400px) {
  .resume-grid,
  .experience-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.resume .highlight, .resume h4.show-indent::before {
  color: #D96689;
}

.resume-grid section {
  padding-top: 16px;
  padding-bottom: 32px;
  border: none;
}
.resume-grid .section-header {
  padding-bottom: 16px;
}
.resume-grid img {
  width: 48px;
  margin: auto;
}
@media only screen and (min-width: 481px) {
  .resume-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "exp exp" "technical-skills soft-skills" "educ lang";
  }
}
@media only screen and (min-width: 1400px) {
  .resume-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "exp exp exp" "technical-skills soft-skills educ" "technical-skills lang educ";
  }
}
.resume-grid .experience {
  grid-area: exp;
}
.resume-grid .education {
  grid-area: educ;
}
.resume-grid .languages {
  grid-area: lang;
}
.resume-grid .technical-skills {
  grid-area: technical-skills;
}
.resume-grid .soft-skills {
  grid-area: soft-skills;
}

.experience-grid .wrapper-experience .header {
  padding: 0 0 8px 0;
}
.experience-grid .wrapper-experience .company-dates {
  font-size: 0.9em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.experience-grid .wrapper-experience .company-dates .dates {
  font-weight: 300;
}
@media only screen and (min-width: 481px) {
  .experience-grid {
    grid-template-rows: auto auto auto;
    grid-template-areas: "exp1 exp2" "exp3 exp4" "exp5 exp6";
  }
  .experience-grid .experience1,
  .experience-grid .experience2,
  .experience-grid .experience3,
  .experience-grid .experience4 {
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 1400px) {
  .experience-grid {
    grid-template-rows: auto auto;
    grid-template-areas: "exp1 exp2 exp3" "exp4 exp5 exp6";
  }
  .experience-grid .experience1,
  .experience-grid .experience2,
  .experience-grid .experience3 {
    padding-bottom: 40px;
  }
}
.experience-grid .experience1 {
  grid-area: exp1;
}
.experience-grid .experience2 {
  grid-area: exp2;
}
.experience-grid .experience3 {
  grid-area: exp3;
}
.experience-grid .experience4 {
  grid-area: exp4;
}
.experience-grid .experience5 {
  grid-area: exp5;
}
.experience-grid .experience6 {
  grid-area: exp6;
}

.languages-grid div {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}
.languages-grid div div p,
.languages-grid div div h4 {
  line-height: 30px;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
.languages-grid div div h4 {
  width: 84px;
}
.languages-grid div div p {
  width: 94px;
}

.cell-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 32px 16px;
}
.cell-grid.center {
  align-items: center;
}
.cell-grid.top {
  justify-content: flex-start;
}
@media only screen and (min-width: 481px) {
  .cell-grid {
    padding: 40px;
    row-gap: 4px;
  }
  .cell-grid.languages {
    padding: 32px;
  }
}

.case-tltr > li {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 24px;
}
.case-tltr > li h4 {
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
}
.case-tltr > li a {
  padding-left: 0;
  bottom: 0;
}
.case-tltr > li ol,
.case-tltr > li ul {
  padding: 0;
  margin: 0;
}
.case-tltr > li li {
  padding-left: 8px;
}
@media only screen and (min-width: 481px) {
  .case-tltr {
    padding: 0 40px;
    display: grid;
    gap: 0 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "item1 item2" "item3 item4" "item5 item6" "item7 item7";
  }
  .case-tltr .short-item {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1400px) {
  .case-tltr {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "item1 item2 item3" "item4 item5 item6" "item7 item7 item7";
  }
}
.case-tltr .item1 {
  grid-area: item1;
}
.case-tltr .item2 {
  grid-area: item2;
}
.case-tltr .item3 {
  grid-area: item3;
}
.case-tltr .item4 {
  grid-area: item4;
}
.case-tltr .item5 {
  grid-area: item5;
}
.case-tltr .item6 {
  grid-area: item6;
}
.case-tltr .item7 {
  grid-area: item7;
}

.section-icon {
  height: 36px;
  width: 36px;
}

.aboutme-row {
  margin: auto;
}
.aboutme-row .aboutme-column {
  padding: 0 8px;
}
.aboutme-row .aboutme-column h3 {
  text-align: center;
  margin-bottom: 16px;
}
.aboutme-row .aboutme-column .aboutme-item {
  margin: 24px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.aboutme-row .aboutme-column .aboutme-item .icon {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}
.aboutme-row .aboutme-column .aboutme-item .text {
  padding: 0;
  margin: 0;
  flex-grow: 1;
}
.aboutme-row .aboutme-column .aboutme-item.special .icon {
  visibility: hidden;
  height: 0px;
}
.aboutme-row .aboutme-column .aboutme-item.special .text {
  font-weight: 450;
}
.aboutme-row .aboutme-column .aboutme-item.frida {
  gap: 12px;
}
.aboutme-row .aboutme-column .aboutme-item.frida img {
  width: 48px;
  flex-grow: 0;
}
@media only screen and (min-width: 481px) {
  .aboutme-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 40px;
    max-width: 1100px;
    margin: auto;
    column-gap: 100px;
  }
  .aboutme-row .aboutme-column .aboutme-item {
    max-width: 468px;
    margin: 0 0 36px 0;
  }
  .aboutme-row .aboutme-column .aboutme-item .icon {
    width: 78px;
    height: 78px;
  }
  .aboutme-row .aboutme-column .aboutme-item.frida {
    gap: 52px;
  }
  .aboutme-row .aboutme-column .aboutme-item.frida img {
    height: 120px;
    width: auto;
  }
}

figure figcaption.desktop {
  display: none;
}
@media only screen and (min-width: 481px) {
  figure figcaption {
    display: none;
  }
  figure figcaption.desktop {
    display: block;
  }
}
figure .pics-grid {
  margin: 0 auto;
}
figure .pics-grid img {
  width: 100%;
  height: auto;
}
figure .pics-grid figcaption {
  padding: 2px 0 4px 0;
}
@media only screen and (min-width: 481px) {
  figure .pics-grid {
    display: grid;
    gap: 4px;
    grid-template-columns: auto auto auto;
    grid-template-rows: 132px auto;
    grid-template-areas: "books horses frida" "books bird frida";
  }
  figure .pics-grid img {
    margin: 0;
    height: 100%;
  }
  figure .pics-grid figcaption {
    display: none;
  }
  figure .pics-grid figcaption.desktop {
    display: block;
  }
}
figure .pics-grid .pic-books {
  grid-area: books;
}
figure .pics-grid .pic-bird {
  grid-area: bird;
}
figure .pics-grid .pic-horses {
  grid-area: horses;
}
figure .pics-grid .pic-frida {
  grid-area: frida;
}

.icon-heading {
  opacity: 50%;
}

.landing-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
}
@media only screen and (min-width: 481px) {
  .landing-list {
    column-gap: 40px;
    row-gap: 20px;
  }
}
.landing-list li {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 481px) {
  .landing-list li {
    max-width: 28%;
  }
}
.landing-list li h4 {
  font-weight: 500;
  color: #222222;
  font-size: 1.5em;
}
.landing-list li .p {
  color: rgb(210, 210, 210);
  font-size: 1em;
}

.protos {
  padding: 40px 8px;
  font-size: 0.9em;
  color: #222222;
}
.protos p.main-label {
  font-size: 1.2em;
}
.protos p.data,
.protos p.label,
.protos p.user-name,
.protos .protos-header p.main-label {
  margin: 0;
  padding: 0;
}
.protos p.label {
  font-size: 0.8em;
  font-style: italic;
}
.protos .protos-header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.protos .protos-header p {
  font-size: 1em;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.protos .protos-header img {
  width: 46px;
  height: 34px;
  border-radius: 0;
  border: none;
}
.protos .protos-users {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.protos .protos-users .protos-user {
  padding-top: 16px;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 8px;
  max-width: 260px;
}
.protos .protos-users .protos-user .protos-u-header {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.protos .protos-users .protos-user .protos-u-header p.user-name {
  margin: 0;
  padding: 0;
}
.protos .protos-users .protos-user .items {
  display: flex;
  flex-flow: column;
  row-gap: 16px;
}
.protos .protos-users .protos-user img {
  width: 28px;
  height: 34px;
  border-radius: 0;
}
.protos .protos-users .protos-user .user-name {
  font-size: 0.9em;
  font-weight: 400;
}
.protos .protos-users .protos-user .data {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 481px) {
  .protos .protos-users {
    padding-top: 0;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    column-gap: 60px;
  }
}

.img-h2 {
  width: auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.screen-readers-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#sticker-css {
  position: absolute;
  height: 60px;
  width: auto;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  transform: rotate(-45deg);
}

#sticker-brain {
  position: absolute;
  height: 60px;
  width: auto;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(-45deg);
}

#sticker-happy {
  position: absolute;
  height: 90px;
  width: auto;
  top: 80%;
  left: 90%;
  transform: translate(-50%, -50%);
}

#sticker-bolt {
  position: absolute;
  height: 90px;
  width: auto;
  top: 60%;
  left: 3%;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=style.css.map */
