@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

*::after,
*,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// NUMERIC VALUES
$max-text-width : 700px;
// COLORS
$yellow030: hsla(40, 97%, 63%, 0.30);
$yellow050: hsla(40, 97%, 63%, 0.50);
$yellow080: hsla(40, 97%, 63%, 0.80);
$yellow100: #fcbf45;
$yellow110: #fae3b6;
$white000: #f9f9f9;
$black: #010101;

// DIMENSIONS
@mixin mobile {
    @media only screen and (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: 481px) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: 1400px) {
        @content;
    }
}

// BORDERS
@mixin outline-dashed() {
    border-radius: 1px;
    outline: 1px dashed $yellow050;
    outline-offset: 4px;
}

@mixin outline-hover {
    border-radius: 1px;
    outline: 1px solid $white000;
    outline-offset: 4px;
}

@mixin border-dashed ($border1, $border2, $border3, $border4) {
    color: $yellow050;
    border-radius: 1px;
    border-style: dashed;
    border-top-width: $border1;
    border-right-width: $border2;
    border-bottom-width: $border3;
    border-left-width: $border4;
}

@mixin border-test {
    border-radius: 1px;
    border-style: dashed;
    border-width: 2px;
    color: red;
}


//        BIG SECTIONS

html,
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: black;
    color: $white000;
    font-size: 14px;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    //@include border-test;
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
}

section {
    @include border-dashed(1px, 1px, 1px, 1px);
    row-gap: 8px;
    padding: 16px 0px;

    &.hero {
        padding: 120px 8px 0 8px;
    }


    @include tablet {

        row-gap: 16px;
        padding: 48px 8px 32px 8px;
    }

}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 16px 0;
    fill: $yellow100;
    color: $yellow100;

    .link-home {
        display: block;
        height: 38px;

        .link-icon-home {
            fill: $yellow100;
        }

    }

    .nav-contact {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        height: 100%;
        gap: 4px;
    }

    .nav-nav {
        display: flex;
        flex-flow: row wrap;
        gap: 16px;

        .link-nav-nav {
            @include tablet {
                position: relative;
                right: -4px; //to make the last text aligns with the exact edge of the whole container
            }
        }
    }
}

.jump-menu {
    //margin: 0 auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    padding-bottom: 8px;

    &:not(.no-border) {
        @include border-dashed (0, 0, 1px, 0);
    }

    .link {
        .link-icon-below {
            display: none;
        }

        padding: 0;
        width: 45%;
        height: 24px;
    }

    @include tablet {
        flex-flow: row nowrap;
        justify-content: center;
        gap: 16px;
        border: none;
        padding: 0;

        .link {
            width: auto;
            height: auto;

            .link-icon-below {
                display: block;
                visibility: hidden;
            }

        }

    }

}

footer {
    max-width: 100%;
    padding: 16px 8px;
    margin-top: 40px;
    text-align: center;
    @include border-dashed (1px, 0, 0, 0);

    .heart {
        display: inline;
        margin-right: 4px;
        height: 100%;
        width: auto;
    }
}

.resume {
    padding: 8px;

    .resume-top {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        column-gap: 4px;

        .resume-left {
            order: 1;
            display: flex;
            flex-flow: column nowrap;

            .language-p,
            .language-h4 {
                margin: 0px;
                display: inline-block;
                width: 80px;
            }

            @include tablet {
                flex-flow: row nowrap;
                gap: 24px;
            }

            @include desktop() {
                flex-flow: column nowrap;
            }
        }

        .resume-right {
            order: 0;
        }
    }

    .wrapper-experience {
        display: flex;
        flex-flow: column nowrap;
        gap: 4px;
        margin-bottom: 12px;

        .wrapper-experience-header {
            min-width: 240px;
        }
    }

    @include tablet() {
        display: flex;
        flex-flow: column nowrap;
        padding: 0;
        max-width: $max-text-width;

        .jump-menu {
            display: none;
        }

        .resume-top {
            border: none;
            flex-flow: row nowrap;
            gap: 16px;

            // educ + lang
            .resume-left {
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-start;
                gap: 16px;
                min-width: 240px;
            }

            //skills
            .resume-right {
                order: 1;
            }
        }

        .wrapper-skill {
            margin-bottom: 12px;
        }

        .wrapper-experience {
            display: flex;
            flex-flow: row nowrap;
            column-gap: 4px;
            margin-bottom: 12px;

            .wrapper-experience-header {
                min-width: 240px;
            }
        }
    }

    @include desktop() {
        .resume-left {
            min-width: 240px;
        }
    }
}


//      ICONS ANIMATIONS
@keyframes bounce {

    0%,
    100% {
        transform: translateY(5%);
    }

    50% {
        transform: translateY(-10%);
    }

}

@keyframes bounce-right {

    0%,
    100% {
        transform: translateX(5%);
    }

    50% {
        transform: translateX(-10%);
    }

}

@keyframes bounce-out {

    0%,
    100% {
        transform: translate(0%, 0%);
    }

    50% {
        transform: translate(12%, -20%);
    }

}

//      STRUCTURES

.table-case {
    display: grid;
    padding: 8px;
    @include border-dashed(1px, 1px, 1px, 1px);
    width: 100%;
    max-width: $max-text-width;

    p.data {
        line-height: 150%;
        margin: 0;
        width: 100%;
        overflow-wrap: break-word;
    }

    p.label {
        line-height: 100%;
        margin: 12px 0 2px 0;
        color: $yellow100;
        width: 100%;
    }

    grid-template-columns: auto;
    grid-template-areas: "label-client"
    "data-client"
    "label-role"
    "data-role"
    "label-team"
    "data-team"
    "label-skills1"
    "data-skills1"
    "label-skills2"
    "data-skills2"
    "label-tools"
    "data-tools";


    .label-client {
        grid-area: label-client;
    }

    .data-client {
        grid-area: data-client;
    }

    .label-role {
        grid-area: label-role;
    }

    .data-role {
        grid-area: data-role;
    }

    .label-team {
        grid-area: label-team;
    }

    .data-team {
        grid-area: data-team;
    }

    .label-skills1 {
        grid-area: label-skills1;
    }

    .data-skills1 {
        grid-area: data-skills1;
    }

    .label-skills2 {
        grid-area: label-skills2;
    }

    .data-skills2 {
        grid-area: data-skills2;
    }

    .label-tools {
        grid-area: label-tools;
    }

    .data-tools {
        grid-area: data-tools;
    }

    @include tablet() {
        width: 80%;
        column-gap: 8px;
        margin: auto;
        margin-top: 0;
        margin-bottom: 48px;
        //4 to compensate padding of labels at the first row
        padding: 4px 16px 16px 16px;
        //padding: 16px;
        grid-template-columns: 49% 49%;
        //grid-template-rows: auto auto 16px auto auto;
        grid-template-areas:
            "label-client label-role"
            "data-client data-role"
            "label-team label-skills1"
            "data-team data-skills1"
            "label-skills2 label-tools"
            "data-skills2 data-tools";
    }

    @include desktop() {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "label-client label-role label-team"
            "data-client data-role data-team"
            "label-skills1 label-skills2 label-tools"
            "data-skills1 data-skills2 data-tools";
        padding: 4px 24px 16px 24px;
        column-gap: 16px;
    }
}

.case-image {
    height: 100px;
    width: auto;
    max-width: $max-text-width;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    @include tablet {
        width: 80%;
        height: auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

    }
}

.gallery {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
    margin: 4px auto;
    gap: 16px;
    width: 98%;

    @include tablet {
        flex-flow: row wrap;
        justify-content: center;
    }
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.card {
    @include outline-dashed;
    padding: 8px;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;

    .card-top {
        height: auto;
        text-align: center;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        justify-content: space-between;
        padding-bottom: 4px;

        h3.card-title {
            color: $white000;
            padding: 0;
        }

        .tags {
            margin: 0;
        }
    }

    .card-image {
        height: 240px;
        width: 100%;
        overflow: hidden;
        border: .5px solid $yellow030;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .card-bottom {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: stretch;

        .card-details {
            overflow-wrap: break-word;
            width: 100%;
            height: auto;
            margin: 8px 0;
        }

        .card-button {
            margin: 0 auto;
            padding: 8px 0;
        }
    }

    @include tablet {
        max-width: 280px;
        width: 100%;

        animation: appear linear;
        animation-timeline: view();
        animation-range: entry 0;




        .card-top {
            height: 80px;
            display: flex;
            flex-flow: column nowrap;
            align-items: stretch;
            justify-content: center;

            h3.card-title {
                width: 100%;
                height: auto;
                margin: 0;
                padding: 0;
                text-align: left;
            }

            .tags {
                text-align: left;
            }
        }

        .card-image {
            height: 200px;
            width: 100%;
            flex-grow: 1;
        }

        .card-bottom {
            height: 100px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: space-between;
        }
    }

}

.card:hover {
    @include outline-hover;
}


.card-process {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 98%;
    max-width: $max-text-width;
    padding: 0 8px 0 0;
    margin: 8px 0;

    .card-process-image {
        border: 1px solid $yellow080;
    }

    .card-process-text {
        width: 100%;

        p.card-process-title,
        p.card-process-details {
            text-align: left;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        li.card-process-title {
            text-align: left;
            margin: 0 0 4px 16px;
            padding: 0;

            ::marker {
                color: $yellow100;
                font-weight: 400;
            }
        }

        h4.card-process-details {
            text-align: left;
            margin: 0;
            padding: 0;
        }
    }

    .card-process-image {
        order: 1;
    }

    @include tablet {
        width: 100%;
        flex-flow: row nowrap;
        gap: 8px;
        padding: 0;
        margin: 8px 8px 8px 0;
        align-items: stretch;
        justify-content: center;

        .card-process-image {
            order: 0;
            min-width: 100px;
            flex-grow: 0;
            overflow: hidden;
            display: flex;
            align-items: center;

            img {
                object-fit: cover;
                width: 100%;
            }
        }
    }
}

header {
    margin: 0;

    &.no-tag {
        p.tag {
            display: none;
        }
    }
}

// WRAPPERS 
.wrapper-border {
    @include border-dashed (1px, 1px, 1px, 1px);
}

.wrapper-content {
    gap: 16px;
}

.wrapper-text {
    width: 98%;
    max-width: $max-text-width;

    img {
        margin: 12px 0;
        width: 100%;
        height: auto;
    }
}

.wrapper-contacts {
    width: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;

    p.contact {
        margin: 0;
        display: flex;
        flex-flow: column nowrap; // no column-center bc needs to change on tablet
        align-items: center;
        width: auto;

        .label-contact {
            order: 1;
        }
    }

    @include tablet {
        flex-flow: column nowrap;
        align-items: flex-start;

        p.contact {
            flex-flow: row nowrap;
            align-items: center;
            gap: 8px;

            .label-contact {
                order: 0;
                width: 70px;
            }
        }
    }
}

.wrapper-backTo {
    margin: 16px 0;
}

.column-center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

a.link {
    padding: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    color: $yellow100;
    fill: $yellow100;
    text-decoration: none;
    width: auto;
    flex-grow: 0;
    font-weight: 400;

    .icon-hidden {

        // some icons are hidden to every state, 
        // others are hidden but appear on hover
        .link-icon-right,
        .link-icon-new {
            display: none;
        }
    }

    &.inline {
        padding: 0;
    }

    &.disabled {
        color: $yellow030;
        pointer-events: none;
    }

    &:focus-visible {
        color: $yellow110;
        outline-color: $yellow110;
        outline-style: none;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-position: under;
        text-underline-offset: 4px;
    }

    &:not(.disabled):hover {
        color: $yellow110;
        fill: $yellow110;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-position: under;
        text-underline-offset: 2px;

        svg {
            visibility: visible;
        }

        // icons have diff behaviours/animations
        .link-icon-home #logo-background {
            outline: solid 2px $yellow110;
            fill: $yellow110;
        }

        .link-icon-contact path {
            fill: $yellow110;
            stroke: $yellow110;
            stroke-width: 0.5;
        }

        .link-icon-top,
        .link-icon-below {
            animation: bounce 0.8s infinite;
        }

        .link-icon-right {
            animation: bounce-right 0.8s infinite;
        }

        .link-icon-new {
            .link-icon-new-arrow {
                animation: bounce-out 0.8s infinite;
            }
        }
    }
}

// TEXT STYLES
h1 {
    height: 38px;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 32px;
    text-align: center;
    font-weight: 300;
    color: $white000;
    margin: 0;

    @include tablet {
        font-size: 54px;

    }
}

.landing h2 {
    animation: appear ease-in;
    animation-timeline: view();
    animation-range: entry 0;

}

h3 {
    font-size: 22px;
    margin: 0;
    padding: 16px 0 8px 0;
    font-weight: 300;
    color: $white000;

    @include tablet {
        font-size: 26px;
    }
}

h4 {
    font-size: 20px;
    margin: 0 0 12px 0;
    font-weight: 300;
    color: $yellow100;
}

h5 {
    font-size: 16px;
    font-weight: 400;
    margin: 4px 0 0 0;
    color: $yellow100;
}

ul {
    margin: 0;
    padding: 0;
}

p,
li {
    margin: 0 0 8px 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: $white000;

    &.center {
        text-align: center;
    }
}

li {
    margin-left: 16px;
}

.tags {
    height: auto;
    width: 100%;
    overflow-wrap: break-word;
    text-align: center;
}

.tag {
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    line-height: 14px;
    font-size: 14px;
    margin: 0 2px;
    font-weight: 400;
    color: $yellow080;

    &:before {
        content: "#";
        margin: 0;
    }

}

.experience-dates {
    font-size: 14px;
    font-weight: 300;
}

strong {
    font-weight: 500;
}

details {

    p,
    li {
        margin: 0 0 0 20px;
    }
}

.diagram {
    margin: 8px 0 32px 0;
}

figcaption,
details summary {
    color: $yellow080;
}

// @keyframes scale {
//     from {
//         transform: scale(1, 1.1);
//     }

//     to {
//         transform: scale(1.1, 1);
//     }
// }

// .pop {
//     font-weight: 700;
//     animation: scale 1s infinite;
//     font-size: 72px;
//     color: red;
//     //text-shadow: 5px 5px 4px blue, 7px 7px 4px red, 9px 9px 4px rgb(30, 0, 255);
//     /*background: -webkit-linear-gradient(#80FF9D, #8CF3FE, #FF30CB);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent; */
// }

// .normal {
//     font-weight: initial;
//     font-size: initial;
//     color: initial;
// }

// .red {
//     color: red;
// }


img {
    border-radius: 2px;
    width: 100%;
    //display: block;
    //overflow: hidden;
    object-fit: fill;
    max-width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
}


// VISUALS
.wrapper-visual {
    max-width: $max-text-width;
    margin: 24px auto;
    background-color: aliceblue;
    padding: 16px;

    img {
        margin: 0;
    }

    h4,
    h5,
    h6 {
        text-align: center;
    }

    h4,
    h5,
    p {
        margin: 0;
        padding: 0;
        color: $black;
    }

    p {
        font-size: 12px;
        line-height: 14px;
    }

    .icon-do,
    .icon-dont {
        height: 16px;
        width: 16px;
    }
    .w-100{
        width: 100%;
    }
    .w-auto{
        width: auto;
    }
    .wrapper-visual-col {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        height: auto;

        &.gap-8 {
            row-gap: 8px;
        }

        &.gap-16 {
            row-gap: 16px;
        }

        &.gap-32 {
            row-gap: 32px;
        }

        &.gap-40 {
            row-gap: 40px;
        }
    }

    .wrapper-visual-row {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: center;
        width: 100%;

        &.gap-8 {
            column-gap: 8px;
        }

        &.gap-16 {
            column-gap: 16px;
        }

        &.gap-32 {
            column-gap: 32px;
        }

        &.gap-40 {
            column-gap: 40px;
        }
    }

    .wrapper-visual-col-row {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

        //
        &.gap-16-32,
        &.gap-16-40 {
            row-gap: 16px;
        }

        &.gap-24-32 {
            row-gap: 24px;
        }

        @include tablet {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;

            &.gap-16-32,
            &.gap-24-32 {
                column-gap: 32px;
            }

            &.gap-16-40 {
                column-gap: 40px;
            }

        }


    }
}

.wrapper-visual .color-watch {
    height: 20px;
    width: 20px;
    flex-shrink: 0;
    flex-grow: 0;

    img {
        object-fit: contain;
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
    }
}

.wrapper-shapes {
    width: 340px;
    flex-grow: 1;
    img {
        width: 36px;
        height: 36px;
        flex-shrink: 0;
        flex-grow: 0;
    }

    .icon-do,
    .icon-dont {
        flex-grow: 1;
    }

    .text {
        flex-basis: 260px;
    }
}

.wrapper-symbols {
    flex-grow: 0;
    .symbol {
        .image {
            width: 103px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            flex-grow: 0;
            overflow: hidden;

            img {
                object-fit: contain;
                max-height: 100%;
                max-width: 100%;
                width: auto;
                height: auto;
            }

            @include tablet {
                align-items: center;
                justify-content: flex-end;
            }
        }

        .text {
            width: 100%;
        }
    }
}

.character {
    column-gap: 4px;
    height: 85px;
    min-width: 295px;
    max-width: 400px;

    .title {
        text-align: right;
        width: 100px;
        flex-grow: 0;
        margin: auto;
    }

    .image {
        max-width: 67px;
        min-width: 55px;
        height: 85px;
        flex-grow: 0;
        //display: flex;
        //align-items:center;
        //justify-content: flex-start;
        overflow: hidden;
        position: relative;

        img {
            //object-fit: cover;
            height: 100%;
            height: auto;
            position: absolute;
            left: 0;
        }
    }

    .desc {
        flex-grow: 1;
        height: 100%;
        flex-grow: 1;
        position: relative;
    }

    .char1-desc {
        p:nth-child(1) {
            position: absolute;
            top: 12px
        }

        p:nth-child(2) {
            position: absolute;
            top: 42px
        }
    }

    .char2-desc {
        p:nth-child(1) {
            position: absolute;
            top: 3px;
        }

        p:nth-child(2) {
            position: absolute;
            top: 42px;
        }
    }
}

.wrapper-visual .pins {
    align-items: normal;
    flex-wrap: wrap;

    .pin {
        max-width: 232px;
        align-items: center;

        .image {
            width: 44px;
            height: 58px;
            flex-grow: 0;
        }

        .desc {
            flex-grow: 1;
        }
    }
}

.wrapper-visual .cars {
    flex-wrap: wrap;

    .car {
        width: 80px;
    }
}

.wrapper-visual .alignments {
    flex-wrap: wrap;
    width: auto;
    flex-grow: 0;

    .alignment {
        width: 80px;
        height: auto;
    }

}

.wrapper-visual .lines {
    .comparison {
        .line {
            width: 100px;
            height: auto;
        }
    }
}

.wrapper-visual .annotations {
    img {

        max-width: 400px;
    }
}

.wrapper-visual .composition {
    img {
        width: 300px;
        height: auto;
    }
}

.wrapper-visual .comparison {
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;
    width: auto;
}

.wrapper-visual .layouts {
    .layout {                
        .icon{
            padding: 8px 0;
            
            img.icon-do,
            img.icon-dont {
                width: 24px;
                height: 24px;
            }
        }
            
        img {
            width: 300px;
            height: auto;
        }
    }
}

