@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");
*::after,
*,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  background-color: black;
  color: #f9f9f9;
  font-size: 14px;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  width: 95%;
}

section {
  color: hsla(40, 97%, 63%, 0.5);
  border-radius: 1px;
  border-style: dashed;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  row-gap: 8px;
  padding: 16px 0px;
}
@media only screen and (min-width: 481px) {
  section {
    row-gap: 16px;
    padding: 32px 8px 16px 8px;
  }
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 16px 0;
  fill: #fcbf45;
  color: #fcbf45;
}
nav .link-home {
  display: block;
  height: 38px;
}
nav .link-home .link-icon-home {
  fill: #fcbf45;
}
nav .nav-contact {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  height: 100%;
  gap: 4px;
}
nav .nav-nav {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
}
@media only screen and (min-width: 481px) {
  nav .nav-nav .link-nav-nav {
    position: relative;
    right: -4px;
  }
}

.jump-menu {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  padding-bottom: 8px;
}
.jump-menu:not(.no-border) {
  color: hsla(40, 97%, 63%, 0.5);
  border-radius: 1px;
  border-style: dashed;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-left-width: 0;
}
.jump-menu .link {
  padding: 0;
  width: 45%;
  height: 24px;
}
.jump-menu .link .link-icon-below {
  display: none;
}
@media only screen and (min-width: 481px) {
  .jump-menu {
    flex-flow: row nowrap;
    justify-content: center;
    gap: 16px;
    border: none;
    padding: 0;
  }
  .jump-menu .link {
    width: auto;
    height: auto;
  }
  .jump-menu .link .link-icon-below {
    display: block;
    visibility: hidden;
  }
}

footer {
  max-width: 100%;
  padding: 16px 8px;
  margin-top: 40px;
  text-align: center;
  color: hsla(40, 97%, 63%, 0.5);
  border-radius: 1px;
  border-style: dashed;
  border-top-width: 1px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
}
footer .heart {
  display: inline;
  margin-right: 4px;
  height: 100%;
  width: auto;
}

.resume {
  padding: 8px;
}
.resume .resume-top {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  column-gap: 4px;
}
.resume .resume-top .resume-left {
  order: 1;
  display: flex;
  flex-flow: column nowrap;
}
.resume .resume-top .resume-left .language-p,
.resume .resume-top .resume-left .language-h4 {
  margin: 0px;
  display: inline-block;
  width: 80px;
}
@media only screen and (min-width: 481px) {
  .resume .resume-top .resume-left {
    flex-flow: row nowrap;
    gap: 24px;
  }
}
@media only screen and (min-width: 1400px) {
  .resume .resume-top .resume-left {
    flex-flow: column nowrap;
  }
}
.resume .resume-top .resume-right {
  order: 0;
}
.resume .wrapper-experience {
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
  margin-bottom: 12px;
}
.resume .wrapper-experience .wrapper-experience-header {
  min-width: 240px;
}
@media only screen and (min-width: 481px) {
  .resume {
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    max-width: 700px;
  }
  .resume .jump-menu {
    display: none;
  }
  .resume .resume-top {
    border: none;
    flex-flow: row nowrap;
    gap: 16px;
  }
  .resume .resume-top .resume-left {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 16px;
    min-width: 240px;
  }
  .resume .resume-top .resume-right {
    order: 1;
  }
  .resume .wrapper-skill {
    margin-bottom: 12px;
  }
  .resume .wrapper-experience {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 4px;
    margin-bottom: 12px;
  }
  .resume .wrapper-experience .wrapper-experience-header {
    min-width: 240px;
  }
}
@media only screen and (min-width: 1400px) {
  .resume .resume-left {
    min-width: 240px;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(5%);
  }
  50% {
    transform: translateY(-10%);
  }
}
@keyframes bounce-right {
  0%, 100% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-10%);
  }
}
@keyframes bounce-out {
  0%, 100% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(12%, -20%);
  }
}
.table-case {
  display: grid;
  padding: 8px;
  color: hsla(40, 97%, 63%, 0.5);
  border-radius: 1px;
  border-style: dashed;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  width: 100%;
  max-width: 700px;
  grid-template-columns: auto;
  grid-template-areas: "label-client" "data-client" "label-role" "data-role" "label-team" "data-team" "label-skills1" "data-skills1" "label-skills2" "data-skills2" "label-tools" "data-tools";
}
.table-case p.data {
  line-height: 150%;
  margin: 0;
  width: 100%;
  overflow-wrap: break-word;
}
.table-case p.label {
  line-height: 100%;
  margin: 12px 0 2px 0;
  color: #fcbf45;
  width: 100%;
}
.table-case .label-client {
  grid-area: label-client;
}
.table-case .data-client {
  grid-area: data-client;
}
.table-case .label-role {
  grid-area: label-role;
}
.table-case .data-role {
  grid-area: data-role;
}
.table-case .label-team {
  grid-area: label-team;
}
.table-case .data-team {
  grid-area: data-team;
}
.table-case .label-skills1 {
  grid-area: label-skills1;
}
.table-case .data-skills1 {
  grid-area: data-skills1;
}
.table-case .label-skills2 {
  grid-area: label-skills2;
}
.table-case .data-skills2 {
  grid-area: data-skills2;
}
.table-case .label-tools {
  grid-area: label-tools;
}
.table-case .data-tools {
  grid-area: data-tools;
}
@media only screen and (min-width: 481px) {
  .table-case {
    width: 80%;
    column-gap: 8px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 48px;
    padding: 4px 16px 16px 16px;
    grid-template-columns: 49% 49%;
    grid-template-areas: "label-client label-role" "data-client data-role" "label-team label-skills1" "data-team data-skills1" "label-skills2 label-tools" "data-skills2 data-tools";
  }
}
@media only screen and (min-width: 1400px) {
  .table-case {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "label-client label-role label-team" "data-client data-role data-team" "label-skills1 label-skills2 label-tools" "data-skills1 data-skills2 data-tools";
    padding: 4px 24px 16px 24px;
    column-gap: 16px;
  }
}

.gallery {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: center;
  margin: 4px auto;
  gap: 16px;
  width: 98%;
}
@media only screen and (min-width: 481px) {
  .gallery {
    flex-flow: row wrap;
    justify-content: center;
  }
}

.card {
  border-radius: 1px;
  outline: 1px dashed hsla(40, 97%, 63%, 0.5);
  outline-offset: 4px;
  padding: 8px;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
.card .card-top {
  height: auto;
  text-align: center;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-between;
  padding-bottom: 4px;
}
.card .card-top h3.card-title {
  color: #f9f9f9;
  padding: 0;
}
.card .card-top .tags {
  margin: 0;
}
.card .card-image {
  height: 240px;
  width: 100%;
  overflow: hidden;
  border: 0.5px solid hsla(40, 97%, 63%, 0.3);
}
.card .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.card .card-bottom {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: stretch;
}
.card .card-bottom .card-details {
  overflow-wrap: break-word;
  width: 100%;
  height: auto;
  margin: 8px 0;
}
.card .card-bottom .card-button {
  margin: 0 auto;
  padding: 8px 0;
}
@media only screen and (min-width: 481px) {
  .card {
    max-width: 280px;
    width: 100%;
  }
  .card .card-top {
    height: 80px;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
  }
  .card .card-top h3.card-title {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .card .card-top .tags {
    text-align: left;
  }
  .card .card-image {
    height: 200px;
    width: 100%;
    flex-grow: 1;
  }
  .card .card-bottom {
    height: 100px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
  }
}

.card:hover {
  border-radius: 1px;
  outline: 1px solid #f9f9f9;
  outline-offset: 4px;
}

.card-process {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 98%;
  max-width: 700px;
  padding: 0 8px;
  margin: 8px 0;
}
.card-process .card-process-image {
  border: 1px solid hsla(40, 97%, 63%, 0.8);
}
.card-process .card-process-text {
  width: 100%;
}
.card-process .card-process-text p.card-process-title,
.card-process .card-process-text p.card-process-details {
  text-align: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
.card-process .card-process-text li.card-process-title {
  text-align: left;
  margin: 0 0 4px 16px;
  padding: 0;
}
.card-process .card-process-text li.card-process-title ::marker {
  color: #fcbf45;
  font-weight: 400;
}
.card-process .card-process-text h4.card-process-details {
  text-align: left;
  margin: 0;
  padding: 0;
}
.card-process .card-process-image {
  order: 1;
}
@media only screen and (min-width: 481px) {
  .card-process {
    width: 100%;
    flex-flow: row nowrap;
    gap: 8px;
    padding: 0;
    margin: 8px;
    align-items: stretch;
    justify-content: center;
  }
  .card-process .card-process-image {
    order: 0;
    flex-basis: 15%;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .card-process .card-process-image img {
    object-fit: cover;
    width: 100%;
  }
}

header {
  margin: 0;
}
header.no-tag p.tag {
  display: none;
}

.wrapper-border {
  color: hsla(40, 97%, 63%, 0.5);
  border-radius: 1px;
  border-style: dashed;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.wrapper-content {
  gap: 16px;
}

.wrapper-text {
  width: 98%;
  max-width: 700px;
}
.wrapper-text img {
  margin: 12px 0;
  width: 100%;
  height: auto;
}

.wrapper-contacts {
  width: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}
.wrapper-contacts p.contact {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: auto;
}
.wrapper-contacts p.contact .label-contact {
  order: 1;
}
@media only screen and (min-width: 481px) {
  .wrapper-contacts {
    flex-flow: column nowrap;
    align-items: flex-start;
  }
  .wrapper-contacts p.contact {
    flex-flow: row nowrap;
    align-items: center;
    gap: 8px;
  }
  .wrapper-contacts p.contact .label-contact {
    order: 0;
    width: 70px;
  }
}

.wrapper-backTo {
  margin: 16px 0;
}

.column-center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

a.link {
  padding: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  color: #fcbf45;
  fill: #fcbf45;
  text-decoration: none;
  width: auto;
  flex-grow: 0;
  font-weight: 400;
}
a.link .icon-hidden .link-icon-right,
a.link .icon-hidden .link-icon-new {
  display: none;
}
a.link.inline {
  padding: 0;
}
a.link.disabled {
  color: hsla(40, 97%, 63%, 0.3);
  pointer-events: none;
}
a.link:focus-visible {
  color: #fae3b6;
  outline-color: #fae3b6;
  outline-style: none;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
  text-underline-offset: 4px;
}
a.link:not(.disabled):hover {
  color: #fae3b6;
  fill: #fae3b6;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
  text-underline-offset: 2px;
}
a.link:not(.disabled):hover svg {
  visibility: visible;
}
a.link:not(.disabled):hover .link-icon-home #logo-background {
  outline: solid 2px #fae3b6;
  fill: #fae3b6;
}
a.link:not(.disabled):hover .link-icon-contact path {
  fill: #fae3b6;
  stroke: #fae3b6;
  stroke-width: 0.5;
}
a.link:not(.disabled):hover .link-icon-top,
a.link:not(.disabled):hover .link-icon-below {
  animation: bounce 0.8s infinite;
}
a.link:not(.disabled):hover .link-icon-right {
  animation: bounce-right 0.8s infinite;
}
a.link:not(.disabled):hover .link-icon-new .link-icon-new-arrow {
  animation: bounce-out 0.8s infinite;
}

h1 {
  height: 38px;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 32px;
  text-align: center;
  font-weight: 300;
  color: #f9f9f9;
  margin: 0;
}
@media only screen and (min-width: 481px) {
  h2 {
    font-size: 54px;
  }
}

h3 {
  font-size: 22px;
  margin: 0;
  padding: 16px 0 8px 0;
  font-weight: 300;
  color: #f9f9f9;
}
@media only screen and (min-width: 481px) {
  h3 {
    font-size: 26px;
  }
}

h4 {
  font-size: 20px;
  margin: 0 0 12px 0;
  font-weight: 300;
  color: #fcbf45;
}

h5 {
  font-size: 16px;
  font-weight: 400;
  margin: 4px 0 0 0;
  color: #fcbf45;
}

ul {
  margin: 0;
  padding: 0;
}

p,
li {
  margin: 0 0 8px 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #f9f9f9;
}
p.center,
li.center {
  text-align: center;
}

li {
  margin-left: 16px;
}

.tags {
  height: auto;
  width: 100%;
  overflow-wrap: break-word;
  text-align: center;
}

.tag {
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  line-height: 14px;
  font-size: 14px;
  margin: 0 2px;
  font-weight: 400;
  color: hsla(40, 97%, 63%, 0.8);
}
.tag:before {
  content: "#";
  margin: 0;
}

.experience-dates {
  font-size: 14px;
  font-weight: 300;
}

strong {
  font-weight: 500;
}

details p,
details li {
  margin: 0 0 0 20px;
}

.diagram {
  margin: 8px 0 32px 0;
}

figcaption,
details summary {
  color: hsla(40, 97%, 63%, 0.8);
}

img {
  border-radius: 2px;
  width: 100%;
  object-fit: fill;
  max-width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
